<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
    <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.14.2825.20394, Culture=neutral, PublicKeyToken=null">
        <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <OrigamSettings>
                <SchemaConnectionString>Data Source=.;Initial Catalog=test7_model;Integrated Security=True;User ID=;Password=;Pooling=True</SchemaConnectionString>
                <DataConnectionString>Data Source=.;Initial Catalog=test7_data;Integrated Security=True;User ID=;Password=;Pooling=True</DataConnectionString>
                <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
                <DefaultSchemaExtensionId>3e37fa44-cdb7-4804-8176-8df118a918ae</DefaultSchemaExtensionId>
                <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
                <DataServiceSelectTimeout>120</DataServiceSelectTimeout>
                <TitleText>test7</TitleText>
                <Name>test7</Name>
                <LoadExternalWorkQueues>true</LoadExternalWorkQueues>
                <ExternalWorkQueueCheckPeriod>60</ExternalWorkQueueCheckPeriod>
                <WorkQueueListRefreshPeriod>60</WorkQueueListRefreshPeriod>
                <HelpUrl>doc.aspx</HelpUrl>
            </OrigamSettings>
        </ArrayOfOrigamSettings>
    </xmlSerializerSection>
</OrigamSettings>
