.root {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em 0 0;

  :global(.Dropdowner_dropdownerContainer) {
    :global(.ScreenToolbarAction_root) {
      padding: 1.2em .9em;
    }
  }
}