<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="FDToolbox"
      type="Origam.Gui.Designer.XmlSerializerSectionHandler,Origam.Gui.Designer"
    />
  </configSections>
  <FDToolbox type="Origam.Gui.Designer.impls.FDToolbox,Origam.Gui.Designer"
    > &gt;
		<FDToolboxCategories>
      <Category DisplayName="Controls">
        <FDToolboxItem Type="System.Windows.Forms.Label,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.LinkLabel,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.Button,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.TextBox,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.CheckBox,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.RadioButton,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.GroupBox,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.PictureBox,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.Panel,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.DataGrid,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.ListBox,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.CheckedListBox,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.ComboBox,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.ListView,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.TreeView,System.Windows.Forms" />
        <FDToolboxItem Type="System.Windows.Forms.TabControl,System.Windows.Forms" />
        <!--
				<FDToolboxItem Type="System.Windows.Forms.DateTimePicker,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.MonthCalendar,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.HScrollBar,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.VScrollBar,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.Timer,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.Splitter,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.DomainUpDown,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.NumericUpDown,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.TrackBar,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.ProgressBar,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.RichTextBox,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.ImageList,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.HelpProvider,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.ToolTip,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.ToolBar,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.StatusBar,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.UserControl,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.NotifyIcon,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.OpenFileDialog,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.SaveFileDialog,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.FontDialog,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.ColorDialog,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.PrintDialog,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.PrintPreviewDialog,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.PrintPreviewControl,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.ErrorProvider,System.Windows.Forms" />
				<FDToolboxItem Type="System.Windows.Forms.PageSetupDialog,System.Windows.Forms" />
				-->
      </Category>
      <Category DisplayName="Data">
        <FDToolboxItem Type="System.Data.OleDb.OleDbConnection,System.Data" />
        <FDToolboxItem Type="System.Data.SqlClient.SqlConnection,System.Data" />
      </Category>
    </FDToolboxCategories>
  </FDToolbox>
</configuration>
