.root {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 (1.15em/2);
  min-width: 0;

  &:global(.isHidden) {
    position: fixed;
    top: 110%;
    left: 110%;
  }
}
