/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

@use "src/gui/commonStyles" as styles;

.disabled {
  color: var(--background5);
}
.enabled {
  color: var(--background7);

  &:hover {
    background: var(--background5);
    color: var(--background8);
  }
}

.root {
  height: 22px;
  padding: 0 0.75em;
  background: var(--background3);
  border-color: var(--background5);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 0.9em;
  @include styles.hoverItemAnimation;

  &:global(.hidden) {
    position: absolute;
    top: 110%;;
    left: 0;
  }

  border-radius: 3em;
  margin-left: 0.2em;

  &:not(:global(.hidden)):first-of-type {
    margin-left: 0;
  }
}
