<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.14.2825.20394, Culture=neutral, PublicKeyToken=null">
    <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <OrigamSettings>
        <SchemaConnectionString></SchemaConnectionString>
        <DataConnectionString>sslmode=disable;Application Name=Origam;Host=OrigamSettings_DbHost;Port=OrigamSettings_DbPort;Username=OrigamSettings_DbUsername;Password=OrigamSettings_DbPassword;Database=OrigamSettings_DatabaseName;Pooling=True;Search Path=OrigamSettings_DatabaseName,public</DataConnectionString>
        <SchemaDataService>Origam.DA.Service.PgSqlDataService, Origam.DA.Service</SchemaDataService>
        <DefaultSchemaExtensionId>OrigamSettings_SchemaExtensionGuid</DefaultSchemaExtensionId>
        <DataDataService>Origam.DA.Service.PgSqlDataService, Origam.DA.Service</DataDataService>
        <DataServiceSelectTimeout>120</DataServiceSelectTimeout>
        <TitleText>OrigamSettings_Title</TitleText>
        <Name>OrigamSettings_Title</Name>
        <LoadExternalWorkQueues>true</LoadExternalWorkQueues>
        <ExternalWorkQueueCheckPeriod>180</ExternalWorkQueueCheckPeriod>
        <WorkQueueListRefreshPeriod>60</WorkQueueListRefreshPeriod>
        <HelpUrl>doc.aspx</HelpUrl>
		<ExecuteUpgradeScriptsOnStart>true</ExecuteUpgradeScriptsOnStart>
        <ModelSourceControlLocation>OrigamSettings_ModelName</ModelSourceControlLocation>
		<AuthorizationProvider>Origam.Security.OrigamDatabaseAuthorizationProvider, Origam.Security</AuthorizationProvider>
        <ProfileProvider>Origam.Security.OrigamProfileProvider, Origam.Security</ProfileProvider>
        <ModelProvider>Origam.OrigamEngine.FilePersistenceBuilder, Origam.OrigamEngine</ModelProvider>
        <ReportDefinitionsPath>OrigamSettings_ReportDefinitionsPath</ReportDefinitionsPath>
		<PathToRuntimeModelConfig>OrigamSettings_RuntimeModelConfigurationPath</PathToRuntimeModelConfig>
      </OrigamSettings>
    </ArrayOfOrigamSettings>
  </xmlSerializerSection>
</OrigamSettings>
