<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
    </appender>
  <root>
    <level value="ERROR"/>
	<appender-ref ref="Console" />
  </root>
    <logger name="Origam.Workflow.DataServiceAgent" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console" />
    </logger>
    <logger name="Origam.DA.Service.MsSqlDataService" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console" />
    </logger>
    <logger name="Origam.WorkflowTests.SqlDataServiceMonitor" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console" />
    </logger>
    <logger name="Origam.WorkflowTests.MsSqlManager" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console" />
    </logger>
    <logger name="Origam.WorkflowTests.WorkQueueIntegrationTests" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console" />
    </logger>
    <logger name="Origam.Workflow.WorkQueue.LinearProcessor" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console" />
    </logger>
    <logger name="Origam.Workflow.WorkQueue.WorkQueueService" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console" />
    </logger>
</log4net>
