/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

@import "src/styles/common_styles.scss";
@import "src/styles/definitions.scss";

@mixin input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  :global(.isFirstColumn) & {
    padding-left: 24px;
  }
  border-radius: 2px;
  @include hoverItemAnimation;
  background: var(--grey1);
  border: 1px solid var(--grey3);
  color: var(--black);
  padding: 0.25em 0.34em;

  &:hover {
    background: var(--white);
    border-color: var(--blue);
  }

  &:focus {
    background: var(--white);
    border-color: var(--blue);
  }

  &:read-only {
    cursor: not-allowed;
    background: var(--grey2);
    border: 1px solid var(--grey2);
    color: var(--grey5);
  }

  &:global(.isRightAligned) {
    padding: 0.25em 0.4em;
  }
}

@mixin editorContainer {
  width: 100%;
  height: 100%;
}

@mixin notification {
  height: 100%;
  position: absolute;
  right: -15px;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;

  & :global(.red) {
    color: var(--color36);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
}

@mixin dropdownSymbol {
  position: absolute;
  right: 3px;
  top: 0;
  margin-top: 0px;
  padding: 1px;
  z-index: 200;
  background-color: transparent;
  cursor: pointer;
  @include hoverItemAnimation;
  color: var(--black);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.2, 1.2);
    color: var(--blue);
  }
}
