.dropdownSymbol {
  position: absolute;
  right: 1px;
  padding: 2px;
  z-index: 200;
  background-color: white;
}

.dropdownSymbol:hover {
  background-color: #8998c5;
}

.droppedPanelContainer {
  z-index: 1000;
  position: absolute;
  top: 21px;
  left: 0px;
  /*width: 300px;
  height: 200px;*/
  border: 1px solid #b3b3b3;
  background-color: white;
  overflow: hidden;
}

.calendarWidgetContainer {
  
}

.calendarWidgetDayTable {
  display: flex;
  flex-direction: column;
}

.calendarWidgetRow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #b3b3b3;
}

.calendarWidgetCell {
  width: 22px;
  height: 18px;
  border-right: 1px solid #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendarWidgetCell:hover {
  background-color: #bbc7ec;
}

.calendarWidgetSelectedDay {
  background-color: #8998c5;
}

.calendarWidgetDayHeaderCell {
  width: 22px;
  height: 18px;
  border-right: 1px solid #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666666;
  color: white;
  font-weight: bold;
}

.calendarWidgetNeighbourMonthCell {
  background-color: #e5e5e5;
  color: #727272;
}

.calendarWidgetHeader {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: #bbc1dc;
}

.calendarWidgetControlBtn {
  background: transparent;
  color: white;
  border: none;
}

.calendarWidgetControlBtn:hover {
  background: #8998c5;
}

.calendarWidgetYearControls {
  flex-shrink: 0;
}

.calendarWidgetMonthControls {
  flex-shrink: 0;
}

.calendarWidgetTitle {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}