/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

@import "./EditorsCommon.scss";
@import "src/styles/common_styles.scss";
@import "src/styles/definitions.scss";


.droppedPanelContainer {
  z-index: 1000;
  background-color:var(--white);
  overflow: hidden;
  @include popoverShadow;

  box-shadow: 0 0.5em 1.5em 0 rgba(var(--black-rgb), 0.25);
  border: 1px solid var(--grey3);
  @include border-radius(4px);
}

.calendarWidgetContainer {
  
}

.calendarWidgetDayTable {
  display: flex;
  flex-direction: column;
}

.calendarWidgetRow {
  display: flex;
  flex-direction: row;
  border: none;
  height: 30px;
}

.calendarWidgetCell {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: auto;
  border: none;
  background: var(--white);
  color: var(--black);
}

.calendarWidgetCell:hover {
  background-color: var(--greay25);
}

.calendarWidgetSelectedDay {
  background: var(--blue1);
  color: var(--white);
  font-weight: 700;
  @include border-radius(5em);
}

.calendarWidgetDayHeaderCell {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border: none;
  background: var(--white);
  color: var(--black);
  font-size: 0.9em;
  font-weight: 700;
}

.calendarWidgetNeighbourMonthCell {
  //background-color: var(--grey2);
  color: var(--grey3);
}

.calendarWidgetHeader {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  background: var(--grey2);
  border-bottom: 1px solid var(--grey3);
}

.calendarWidgetControlBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
  color: var(--blue1);
  height: 1em;
  line-height: 0.8em;
  margin: 0 0.25em;
  padding: 0.5em;
  width: 1em;
  @extend %transition;

  &:hover {
    background: var(--blue1);
    color: var(--white);
    @include border-radius(5em);
  }
  i {
    font-size: 1.25em;
    line-height: 0.8em;
  }
}


.calendarWidgetYearControls {
  flex-shrink: 0;
}

.calendarWidgetMonthControls {
  flex-shrink: 0;
}

.calendarWidgetTitle {
  flex-grow: 1;
  //display: flex;
  //flex-direction: row;
  align-items: center;
  justify-content: center;
 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  font-weight: 700;
}

.dropdownSymbol {
  @include dropdownSymbol;
}

.input {
  @include input;
}

.notification {
  @include notification;
}

.editorContainer {
  @include editorContainer;
}


.formatHintTooltip {
  padding: 5px;
  position: fixed;
  border: 1px solidvar(--black);
  background-color:var(--white);
  z-index: 5000;
}