@import "./EditorsCommon.scss";
@import "src/styles/common_styles.scss";
@import "src/styles/definitions.scss";


.droppedPanelContainer {
  z-index: 1000;
  position: absolute;
  left: 0px;
  /*width: 300px;
  height: 200px;*/
  background-color: white;
  overflow: hidden;
  @include popoverShadow;

  box-shadow: 0 0.5em 1.5em 0 rgba($black, 0.25);
  border: 1px solid $grey3;
  @include border-radius(4px);
}

.calendarWidgetContainer {
  
}

.calendarWidgetDayTable {
  display: flex;
  flex-direction: column;
}

.calendarWidgetRow {
  display: flex;
  flex-direction: row;
  border: none;
  height: 30px;
}

.calendarWidgetCell {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: auto;
  border: none;
  background: $white;
  color: $black;
}

.calendarWidgetCell:hover {
  background-color: #bbc7ec;
}

.calendarWidgetSelectedDay {
  background: $blue;
  color: $white;
  font-weight: 700;
  @include border-radius(5em);
}

.calendarWidgetDayHeaderCell {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border: none;
  background: $white;
  color: $black;
  font-size: 0.9em;
  font-weight: 700;
}

.calendarWidgetNeighbourMonthCell {
  background-color: #e5e5e5;
  color: $grey2;
}

.calendarWidgetHeader {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  background: $grey2;
  border-bottom: 1px solid $grey3;
}

.calendarWidgetControlBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
  color: $blue;
  height: 1em;
  line-height: 0.8em;
  margin: 0 0.25em;
  padding: 0.5em;
  width: 1em;
  @extend %transition;

  &:hover {
    background: $blue;
    color: $white;
    @include border-radius(5em);
  }
  i {
    font-size: 1.25em;
    line-height: 0.8em;
  }
}


.calendarWidgetYearControls {
  flex-shrink: 0;
}

.calendarWidgetMonthControls {
  flex-shrink: 0;
}

.calendarWidgetTitle {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: 700;
}

.dropdownSymbol {
  @include dropdownSymbol;
}

.input {
  @include input;
}

.notification {
  @include notification;
}

.editorContainer {
  @include editorContainer;
}
