.Root {
  width: 100%;
  height: 100%;
  overflow: hiddwen;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.TabHandles {
  height: 20px;
  display: flex;
  flex-direction: row;
  background-color: #4c4c4c;
  user-select: none;
}

.TabHandle {
  position: relative;
  padding: 2px 20px 2px 10px;
  margin: 0px 1px 1px 0px;
  cursor: pointer;
  background-color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TabHandleCloseBtn {
  position: absolute;
  right: 2px;
  background: transparent;
  padding: 2px;
  border: none;
  cursor: pointer;
}

.TabHandleCloseBtn:hover {
  background-color: #8998c5;
  color: white;
}

.TabHandle:hover {
  background-color: #8998c5;
}

.TabHandle.active {
  margin-bottom: 0;
  background-color: #e5e5e5;
  color: black;
}


