/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o. 

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.designSurfaceEditorContainer {
  display: flex;
  flex: 1;
  height: 100%;
}

.designSurfaceCheckbox {
  border: 1px solid var(--background4);
  background-color: var(--background1);
  width: 14px;
  height: 14px;
  margin: 3px 3px 3px 0;

  &.readOnly {
    background-color: var(--background3);
  }
}

.designSurfaceInput {
  border: 1px solid var(--background4);
  background-color: var(--background1);
  flex: 1;

  &.readOnly {
    background-color: var(--background3);
  }
}

.panel {
  background: var(--background2);
  width: 100%;
  height: 100%;
}

.groupBoxContent {
  background-color: var(--background1);
  width: 100%;
  height: 100%;
}

.groupBoxHeader {
  position: absolute;
  top: -10px;
  left: 8px;
  background-color: var(--background1);
  padding: 0 4px;
}

.tabPageContainer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
}

.tabs {
  display: flex;
  flex-shrink: 0;
  height: 20px;
  overflow: hidden;
  font-size: 12px;

  > div {
    padding: 0 8px 0 16px;
    margin-right: -6px;
    min-width: 24px;
    overflow: hidden;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ffffff;
    background-color: #666666;
    clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%);
    cursor: pointer;
  }

  .activeTab {
    position: relative;
    font-weight: bold;
    background-color: #048ba8;
  }
}

.tabPageBody {
  flex: 1;
  box-sizing: border-box;
  border: 1px dotted var(--background8);
  background-color: var(--background2);
}

.checkList {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .checklistItem {
    min-width: 25%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-bottom: 3px;

    input {
      padding: 5px;
      flex-shrink: 0;
      overflow: hidden;
      pointer-events: none;
    }

    div {
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 5px;
      margin-right: 20px;
    }
  }
}

.groupBoxWithChamfer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.groupBoxChamfer {
  position: relative;
  align-self: flex-start;
  min-width: 8px;
  height: 16px;
  margin-bottom: -8px;
  padding: 0 6px;
  line-height: 16px;
  white-space: nowrap;
  border-radius: 8px 8px 0 0;
  background-color: var(--background3);
}

.groupBoxChamferBody {
  flex: 1;
  border-radius: 8px;
  background-color: var(--background3);
}

.dottedFrame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px dotted var(--background7);
}

.editorBox {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  max-height: 20px;
  border: 1px solid var(--background8);
  background-color: var(--background1);

  &.readOnly {
    background-color: var(--background3);
  }
}

.editorButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  font-size: 12px;
  border-left: 1px solid var(--background4);
  background-color: var(--background3);
  color: var(--background7);
}

.dropDownButton {
  background-color: var(--background6);
  color: var(--background1);
}

.colorPickerButton {
  box-sizing: border-box;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  border: 1px solid var(--background4);
  background-color: var(--background1);

  &.readOnly {
    background-color: var(--background3);
  }
}

.calendarButton {
  border-left: none;
  background-color: transparent;
  color: var(--brand);
}

.tree {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--background1);
}

.treeNode {
  flex-shrink: 0;
  width: 60px;
  height: 8px;
  background-color: var(--background4);
}
