/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o. 

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.designSurfaceEditorContainer {
  display: flex;
  flex: 1;
  height: 100%;
}

.designSurfaceCheckbox {
  border: 1px solid var(--background4);
  background-color: var(--background1);
  width: 14px;
  height: 14px;
  margin: 3px;
}


.designSurfaceInput {
  border: 1px solid var(--background4);
  background-color: var(--background1);
  flex: 1;
}

.panel {
  background: var(--background2);
  width: 100%;
  height: 100%;
}

.groupBoxContent {
  background-color: var(--background1);
  width: 100%;
  height: 100%;
}

.groupBoxHeader {
  position: absolute;
  top: -10px;
  left: 8px;
  background-color: var(--background1);
  padding: 0 4px;
}

.tabPageContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.tabs {
  display: flex;
  gap: 10px;

  .activeTab{
    font-weight: bold;
  }
}
