@import "src/styles/definitions.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  /*border-right: 1px solid #bbbbbb;*/
  position: relative;
  /*overflow: hidden;*/
  flex-shrink: 0;
  font-weight: 700;
  border-top: 1px solid #E9E8F0;
  cursor: default;

  background: $grey1;
  border: none;
  min-height: 25px;
  padding: 0 0.1em 0 0.3em;

  @extend %transition;

  &:first-of-type {
    padding-left: 1.8em;
  }
  &:hover {
    background: $grey2;
    .Header_order {
      background: $grey2;
    }
  }
  &.changing-order {
    color: $black;
  }
  .Header_order {
    background: $grey1;
    color: $blue;
    font-size: $font-size;
    height: 25px;
    line-height: 25px;
    padding: 0 0.5em;
    right: -3px;
    @extend %transition;
  }
}

.header:global(.changing-order):hover {
  background-color: #6b4c23;
  color: white;
}

.label {
  box-sizing: border-box;
  align-items: center;
  flex-grow: 1;
  display: block;
  line-height: 25px;
  margin: 0;
  justify-content: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 100%;
}

.order {
  position: absolute;
  right: 4px;
  font-size: 11px;
  background-color: #e5e5e5;
  padding: 2px;
  height: 20px;
}

.columnWidthHandle {
  flex-shrink: 0;
  background: $grey2;
  border-color: $grey1;
  border-style: solid;
  border-width: 0 4px;
  cursor: ew-resize;
  margin: 0;
  padding: 0;
  width: 9px;
  @extend %transition;
  &:hover, &:focus {
    background: $blue;
  }
  &:last-of-type {
    border-right-color: $grey2;
  }
}


.inHeaderRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  min-height: 25px;
}
