@import "src/styles/definitions.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  /*border-right: 1px solid #bbbbbb;*/
  position: relative;
  /*overflow: hidden;*/
  flex-shrink: 0;
  font-weight: 700;
  border-top: 1px solid #E9E8F0;
  cursor: default;

  background: $grey1;
  border: none;
  min-height: 25px;
  padding: 0 0.1em 0 0.3em;

  @extend %transition;
}

.header:global(.changing-order):hover {
  background-color: #6b4c23;
  color: white;
}

.label {
  box-sizing: border-box;
  align-items: center;
  flex-grow: 1;
  display: block;
  line-height: 25px;
  margin: 0;
  justify-content: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 100%;
}

.order {
  position: absolute;
  right: 4px;
  font-size: 11px;
  background-color: #e5e5e5;
  padding: 2px;
  height: 20px;
}

.columnWidthHandle {
  width: 2px;
  margin-right: 1px;
  margin-left: 1px;
  background-color: #bbbbbb;
  cursor: w-resize;
  flex-shrink: 0;
}

.columnWidthHandle:hover {
  background-color: white;
}

.inHeaderRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  min-height: 25px;
}
