.header {
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-sizing: border-box;
  /*border-right: 1px solid #bbbbbb;*/
  position: relative;
  background-color: #e5e5e5;
  overflow: hidden;
  flex-shrink: 0;
}

.label {
  margin-left: 3px;
  margin-right: 3px;
  overflow: hidden;
  box-sizing: border-box;
}

.order {
  position: absolute;
  right: 4px;
  font-size: 11px;
  background-color: #e5e5e5;
  padding: 2px;
}

.columnWidthHandle {
  width: 4px;
  margin-right: 1px;
  margin-left: 1px;
  background-color: #bbbbbb;
  cursor: w-resize;
  flex-shrink: 0;
}

.columnWidthHandle:hover {
  background-color: white;
}
