<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="applicationConfigurationManagement" type="Microsoft.ApplicationBlocks.ConfigurationManagement.ConfigurationManagerSectionHandler,Microsoft.ApplicationBlocks.ConfigurationManagement, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
		<section name="MailAgentConfig" type="Microsoft.ApplicationBlocks.ConfigurationManagement.XmlHashtableSectionHandler,Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
		<section name="DataServiceConfig" type="Microsoft.ApplicationBlocks.ConfigurationManagement.XmlSerializerSectionHandler,Microsoft.ApplicationBlocks.ConfigurationManagement, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
	</configSections>

	<DataServiceConfig>
		<XmlSerializerSection type="Origam.DA.DataServiceConfig, Origam.DA, Version=1.0.1.21710, Culture=neutral, PublicKeyToken=null">
			<DataServiceConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
				<ConnectionString>Server=Assrv01;database=Rotunda;Integrated Security=SSPI;</ConnectionString>
				<MetadataConnectionString>Integrated Security=SSPI;Packet Size=4096;Data Source=Assrv01;Initial Catalog=Cobra_dev;Use Procedure for Prepare=1;Auto Translate=True;Persist Security Info=False;Provider=SQLOLEDB.1</MetadataConnectionString>
				<SchemaGuid>8FC5C955-02C0-4A66-917D-3343FE6A3A94</SchemaGuid>
				<ExtensionGuid>0C4964BB-4FC1-4086-B08A-EAAE790C7785</ExtensionGuid>
			</DataServiceConfig>
		</XmlSerializerSection>
	</DataServiceConfig>

	<MailAgentConfig>
		<XmlSerializableHashtable xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<Entries>
				<Entry>
					<key xsi:type="xsd:string">SmtpHost</key>
					<value xsi:type="xsd:string">smtp.asmnet.cz</value>
				</Entry>
				<Entry>
					<key xsi:type="xsd:string">SmtpPort</key>
					<value xsi:type="xsd:integer">25</value>
				</Entry>
			</Entries>
		</XmlSerializableHashtable>
	</MailAgentConfig>

	<applicationConfigurationManagement>
		<configSection name="MailAgentConfig">
			<configCache enabled="true" refresh="1 * * * *" />
			<configProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
				type="Microsoft.ApplicationBlocks.ConfigurationManagement.Storage.XmlFileStorage" refreshOnChange="false"
				signed="false" encrypted="false" />
			<protectionProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
				type="Microsoft.ApplicationBlocks.ConfigurationManagement.DataProtection.BCLDataProtection" hashKeyRegistryPath=""
				hashKey="MyXuEd6f+go=" symmetricKey="VToaqZjp8C27V90oSmT/CF+afvRGClc9" initializationVector="ou95G2/WziI=" />
		</configSection>
		<configSection name="DataServiceConfig">
			<configCache enabled="true" refresh="1 * * * *" />
			<configProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
				type="Microsoft.ApplicationBlocks.ConfigurationManagement.Storage.XmlFileStorage" refreshOnChange="false"
				signed="false" encrypted="false" />
			<protectionProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
				type="Microsoft.ApplicationBlocks.ConfigurationManagement.DataProtection.BCLDataProtection" hashKeyRegistryPath=""
				hashKey="MyXuEd6f+go=" symmetricKey="VToaqZjp8C27V90oSmT/CF+afvRGClc9" initializationVector="ou95G2/WziI=" />
		</configSection>
	</applicationConfigurationManagement>
</configuration>
