/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o. 

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.inputs {
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

.toolbox {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}

.toolboxFieldIcon {
  width: 20px;
  height: 20px;
  background: var(--foreground1);
}

.toolboxField {
  display: flex;
  gap: 3px;
  cursor: move;
  user-select: none;
}

.componentDesigner {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.draggAbles {
  background: var(--background2);
  padding: 16px;
  flex: 1;
}

.toolItem {
  padding: 8px;
  margin: 8px 0;
  background-color: var(--background1);
  cursor: move;
  user-select: none;

  &:hover {
    background-color: var(--background2);
  }
}

.selectedField {
  background: var(--background3);
}


.label {
  min-width: 50px;
  min-height: 20px;
  background-color: transparent;
}


