/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o. 

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.editedItemLabel {
}

.verbs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 0.5rem;
  border-top: 1px solid var(--background3);
}

.verb {
  padding: 0;
  border: none;
  background: none;
  color: var(--brand);
  text-decoration: underline;
  cursor: pointer;

  &:disabled {
    color: var(--foreground1);
    opacity: 0.5;
    text-decoration: none;
    cursor: default;
  }
}
