* @tvavrda @washibana
/backend/ @tvavrda @washibana @JindrichSusen
/frontend-html/ @tvavrda @washibana @JindrichSusen
/architect-html/ @tvavrda @washibana @JindrichSusen @Hxn
/test/ @tvavrda @washibana @JindrichSusen
/docker/ @tvavrda @washibana @JindrichSusen
