* @tvavrda @washibana
/backend/Origam.DA.Service/ @tvavrda @washibana @JiriPrajz @JindrichSusen
/backend/ @tvavrda @washibana @JindrichSusen
/frontend-html/ @tvavrda @washibana @JindrichSusen
/test/ @tvavrda @washibana @JindrichSusen
