.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.content {
  display: flex;
  overflow: auto;
  flex: 1;
}

.labels {
  display: flex;
  gap: 10px
}

.hidden {
  display: none;
}

.visible {
  display: flex;
  flex: 1;
}

.label {
  padding-left: 4px;
  padding-right: 4px;
}

.activeLabel {
  background: var(--background3);
}