/backend/Origam.Server/serverCore.pfx
.idea
.DS_Store
/plugins/__pycache__
/plugins/pluginmanager_config.json
/test/tests_workflow/
RuntimeModelConfiguration.json
/docker/runLinux.cmd
/docker/runWin.cmd
/docker/server/server_bin/
/docker/architect/bin/
/test/server_bin
/test/output
/test/model
/test/tests_e2e/node_modules
/docker/server/client_source/
/docker/server/Scheduler/
/chat-html/dist
/docker/debug/
