<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">

  </xmlSerializerSection>
  <security>
    <authorizationProvider name="database" type="Origam.Security.OrigamDatabaseAuthorizationProvider, Origam.Security">  
    </authorizationProvider>
    <profileProvider name="OrigamProfileProvider" type="Origam.Security.OrigamProfileProvider, Origam.Security">
    </profileProvider>
  </security>
</OrigamSettings>