.dialogContent {
  padding: 10px;
  min-width: 300px;

  :global(.list) {
    display: flex;
    flex-direction: column;
    :global(.listItem) {
      display: flex;
      flex-direction: row;
      :global(.itemIcon) {
        width: 1.5em;
        height: 1.5em;
        flex: 0 0 1.5em;
        &:global(.error) {
          svg {
            fill: #ff5360;
            stroke: transparent;
          }
        }
        &:global(.warning) {
          svg {
            fill: #fec006;
            stroke: transparent;
          }
        }
      }
      :global(.itemMessage) {
        flex: 1 0 0;
        padding-left: 2em;
        padding-bottom: 5px;
      }
    }
  }
}
