.mapDiv {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &:global(.isHidden) {
    display: none;
  }

  :global(.leaflet-draw-actions) {
    overflow: hidden;
    margin-left: 2px;
    margin-top: -1px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    li {
      border-left: 1px solid #cccccc;
    }
    li:first-of-type {
      border-left: none;
    }
    a {
      background: transparent;
      border: none;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}

.mapSearch {
  width: 100%;
  position: relative;
  :global(.input) {
    width: 100%;
  }
  :global(.inputCaret) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.mapSearchDropdown {
  position: fixed;
  z-index: 10000;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  max-height: 300px;

  :global(.cell) {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
  }
  :global(.c1) {
    background-color: #f7f6fa;
  }
  :global(.c2) {
    background-color: white;
  }
}
