.vs/
bin/
obj/
.idea/
*.user
*.suo
_Resharper*/
/Origam.DA.Service-net2Tests/FilePersistenceProviderTests/TestFiles/index.bin
/Origam.ServerCore/logs
/packages
*.pubxml
/origam-utils/origam-utils.log
!/web/bin/
/Origam.Mail/MailData.xsc
/Origam.Mail/MailData.xss
/Origam.Server/Properties/launchSettings.json
/Origam.Server/appsettings.json
/Origam.Architect.Server/appsettings.json
/Origam.Architect.Server/appsettings.Development.json
/Origam.Architect.Server/log4net.config
/Origam.Architect.Server/OrigamSettings.config