.vs/
bin/
obj/
.idea/
*.user
*.suo
_Resharper*/
/Origam.DA.Service-net2Tests/FilePersistenceProviderTests/TestFiles/index.bin
/Origam.ServerCore/logs
/packages
*.pubxml
/Origam.ServerCoreTests/appsettings.json
/Origam.ServerCore/service-worker.js
/Origam.ServerCore/manifest.json
/Origam.ServerCore/index.html
/Origam.ServerCore/asset-manifest.json
/Origam.ServerCore/static
/origam-utils/origam-utils.log
/Origam.ServerCore/appsettings.json
!/web/bin/
/Origam.ServerCore/tempkey.rsa
/Origam.ServerCore/serverCore.pfx
/Origam.Mail/MailData.xsc
/Origam.Mail/MailData.xss
/Origam.ServerCore/log4net.config
/Origam.ServerCore/appsettings.Development.json
/Origam.Server/Properties/launchSettings.json
/Origam.Architect.Server/appsettings.json
/Origam.Architect.Server/appsettings.Development.json
/Origam.Architect.Server/log4net.config
/Origam.Architect.Server/OrigamSettings.config