/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.tableAndControlRow {
  width: 640px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.columnOrderScreen {
  .explanation {
    text-align: center;
  }
}

.columnTable {
  width: 640px;
  height: 400px;
  margin-bottom: 20px;
}

.orderTable {
  flex: 1 0 auto;
}

.orderControls {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  padding: 5px;
}

.lockedColumns,
.reordering {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}



.button {
  height: 30px;
  border-radius: 15px;
  font-size: 12px;
  color: var(--background7);
  border: 1px solid var(--background5);
  background-color: var(--background3);
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  transition: all 300ms linear;
  background: var(--background2);
  border: 1px solid var(--background5);
  box-sizing: border-box;
  font-weight: 700;
  margin: 0 0.5em;
  min-width: 75px;
  padding: 0 1.5em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  background: var(--background3);
  border-color: var(--background5);
  color: var(--background7);
  svg {
    display: block;
  }
  &:hover {
    background: var(--background5);
    color: var(--background8);
  }
  &:focus {
    background: var(--background1);
    color: var(--foreground1);
  }
}

.lockedColumnsInput {
  width: 38px;
  margin-left: 10px;
}

.checkBoxCell {
  justify-content: center;
}

.columnTableCell {
  height: 25px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid var(--background3);
  cursor: pointer;
  &:not(:global(.header)):hover {
    background-color: var(--background3) !important;
  }
}

.columnTableCell:global(.header) {
  font-weight: bold;
}

.columnTableCell:global(.odd) {
  background-color: var(--background2);
}

.columnTableCell:global(.even) {
  background-color: var(--background1);
}

.columnTableCell:global(.selected) {
  background-color: #edf2ff;
  border: 1px solid #4c84ff;
  border-left: 4px solid #4c84ff;
}

.columnWidthHandle {
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0;
  background: var(--background3);
  border-color: var(--background1);
  border-style: solid;
  border-width: 0 1px;
}

.checkBox {
  display: flex;
  align-items: center;
}
.checkBox div {
  padding-top: 1px;
  min-width: 8px;
}

.columnTableCell .dropdown {
  height: 19px;
  width: 72.5px;
}

.tabHandleRow {
  background-color: var(--background3);
}