/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.dialogContent {
  padding: 12px;
  white-space: pre-line;
}

@mixin hoverItemAnimation {
  transition: all 300ms linear;
}

@mixin popoverShadow {
  -webkit-box-shadow: -1px 3px 7px -2px rgba(var(--background8-rgb), 0.801);
  -moz-box-shadow: -1px 3px 7px -2px rgba(var(--background8-rgb), 0.801);
  box-shadow: -1px 3px 7px -2px rgba(var(--background8-rgb), 0.801);
  border: 1px solid var(--background4);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin dialogButton {
  height: 30px;
  border-radius: 15px;
  font-size: 12px;
  color: var(--background7);
  border: 1px solid var(--background5);
  background-color: var(--background3);
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  @include hoverItemAnimation;
  &:hover {
    background: var(--background5);
    color: var(--background8);
  }
  &:focus, &:global(.isPrimary) {
    background: var(--foreground1);
    border-color: var(--foreground1);
    color: var(--background1);

    &:hover {
      background: var(--background1);
      color: var(--foreground1);
    }
  }
}

.modalWindow {
  z-index: 1000;
  position: fixed;
  min-width: 100px;
  background-color: var(--background1);
  display: flex;
  flex-direction: column;

  @include popoverShadow;

  box-shadow: 0 0.5em 1.5em 0 rgba(var(--background8-rgb), 0.25);
  border: 1px solid var(--background5);
  @include border-radius(4px);
}

.title {
  display: flex;
  flex-direction: row;
  position: relative;
  font-weight: 700;
  color: var(--background8);
  align-items: center;
  cursor: default;
  background: var(--background3);
  height: 40px;
  font-size: 1.5em;
  line-height: 1.3em;
  padding: 0 0.65em 0 0.65em;
  @include border-radius(4px 4px 0 0);
}

.label {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
}

.labelText {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.buttons button {
  background: transparent;
  color: var(--background8);
  border: none;
  padding: 0;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 10px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
}

.btnClose {
  padding: 5px;
  overflow: hidden;
  @include hoverItemAnimation;

  .btnIconContainer {
    background: none;
    height: 40px;
    padding: 0;
    width: 40px;

    svg {
      @include hoverItemAnimation;
      background: none;
      height: 2em;
      stroke: var(--error1);
      stroke-width: 1.5px;
      top: calc(20px - 1em);
      width: 2em;
    }
  }

  &:hover {
    color: var(--background1);
    background: none;

    svg {
      stroke: var(--background8);
      stroke-width: 2px;
    }
  }
}

.btnClose :global(.icon) {
  position: relative;
  top: -1px;
}

.body {
  flex-grow: 1;
  overflow: auto;
  /*padding: 10px;*/
}

.footer {
  min-height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid var(--background3);
  padding: 1em;
}

.footer button {
  @include dialogButton;
  background: var(--background2);
  box-sizing: border-box;
  font-weight: 700;
  margin: 0 0.5em;
  min-width: 75px;
  padding: 0 1.5em;
  @include border-radius(3em);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.pusher {
  flex-grow: 1;
}
