/* ibm-plex-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-500 - latin-ext_latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-500.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/ibm-plex-sans-v8-latin-ext_latin-700.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
