
.svg:hover{
    stroke: #0D0D0D;
}

.svg {
    stroke: #77767E;
    stroke-width: 1.5;
    height: 20px;
    padding-right: 3px;
}
.page-content{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

iframe
{
    border:0
}

.logo-container{
    margin-bottom: 50px;
}

.centered{
    display: flex;
    justify-content: center;
}

.in-page-link{
  text-decoration: underline;
}

input::placeholder {
    color: transparent;
}

input.showPlaceholder::placeholder {
    color: #aaaaaa;
}