/*  ---------------------------------------------------------------------- */
/*  
Name: origam.app
Date: June 2020
Version: 1.0
Author: Daniel Baumgartner
Autor URI: icontel.com
*/
/*  ---------------------------------------------------------------------- */

/*  ---------------------------------------------------------------------- */
/*  settings */
/*  ---------------------------------------------------------------------- */

$font-size:         12px;
$line-height:       1.5em;
$font-weight:       500;

$white:             #FFFFFF;
$black:             #0D0D0D;
$grey1:             #F7F6FA;
$grey2:             #E9E8F0;
$grey3:             #B0AFB7;
$grey4:             #77767E;
$grey5:             #3E3D45;

$blue:              #4C84FF;
$green:             #69D07F;
$yellow:            #FFBF05;
$orange:            #FE8933;
$red:               #FE5461;

$IBMPlex:            'IBM Plex Sans', sans-serif;

$h1-fontsize:       1.5em;
$h1-lineheight:     1.3em;
$h2-fontsize:       1.25em;
$h2-lineheight:     1.4em;

/*  ---------------------------------------------------------------------- */

%transition {
	-webkit-transition: all 200ms linear;
	   -moz-transition: all 200ms linear;
		-ms-transition: all 200ms linear;
		 -o-transition: all 200ms linear;
			transition: all 200ms linear;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
		 -o-border-radius: $radius;
			border-radius: $radius;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}