.dataView {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  overflow: hidden;
}

.dataViewOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataViewLoadingLabel {
  padding: 20px;
  background-color: #8998c5;
  color: white;
  text-transform: uppercase;
}

