.dataViewToolbar {
  height: 20px;
  background-color: #8998c5;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.dataViewToolbar :global(.red) {
  color: #ff0000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.section {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
}

.loading {
  font-size: 14px;
  padding-right: 10px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.label {
  display: flex;
  font-weight: bold;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.pusher {
  flex-grow: 1;
}

.toolbarBtn {
  height: 100%;
  background: transparent;
  border: none;
  color: #ffffff;
}

.toolbarBtn:global(.active) {
  background-color: #435ba3;
}

.toolbarBtn:global(:hover:not(.disabled)) {
  background-color: #435ba3;
}

.toolbarBtn:global(.disabled) {
  color: #d6d6d6;
}

.toolbarBtn:global(.disabled):hover {
  background-color: inherit;
}
