@import "src/styles/common_styles.scss";

.root {
  height: 50px;
  background: #ffffff;
  padding: 0 1em 0 2em;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0.5em;
  h1 {
    margin: 0;
    margin-right: 0.7em;
    display: block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 700;
    padding: 0;
  }

  .progressIndicator {
    @include progressIndicator;
  }
}

.workflowActionBtn {
  @include dialogButton();
}
