<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
    <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.14.2825.20394, Culture=neutral, PublicKeyToken=null">
        <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <OrigamSettings>
                <SchemaConnectionString>Server=.\;database=origam-demo-model;User Id=origam-demo; Password=origam-demo</SchemaConnectionString>
                <DataConnectionString>Server=.\;database=origam-demo-data;User Id=origam-demo; Password=origam-demo</DataConnectionString>
                <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
                <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
                <DataServiceSelectTimeout>120</DataServiceSelectTimeout>
                <SecurityDomain>--DOMAIN--</SecurityDomain>
                <ReportDefinitionsPath>c:\inetpub\wwwroot\origam\reports</ReportDefinitionsPath>
                <ReportConnectionString />
                <DefaultSchemaExtensionId>617f7f81-5d1e-4a36-929c-ff77fb5dcb77</DefaultSchemaExtensionId>
                <TitleText>ORIGAM</TitleText>
                <Name>ORIGAM</Name>
		            <LoadExternalWorkQueues>false</LoadExternalWorkQueues>
		            <ExternalWorkQueueCheckPeriod>0</ExternalWorkQueueCheckPeriod>
            		<WorkQueueListRefreshPeriod>60</WorkQueueListRefreshPeriod>
	    </OrigamSettings>
        </ArrayOfOrigamSettings>
    </xmlSerializerSection>
</OrigamSettings>
