.editor {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 12px;
  border: 1px solid #bdbdbd;
  background-color: #f8f8f8;
  padding-left: 10px;
}

.editor:hover:not(:read-only) {
  border: 1px solid #8998c5;
  outline: #8998c5 solid 1px;
  position: relative;
  z-index: 100;
}

.editor:read-only {
  background-color: #e5e5e5;
}

.editor[type="checkbox"] {
  width: initial;
  height: initial;
  background: initial;
}

.editorContainer {
  position: relative;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContainer > div[data-tooltipped] {
  width: 100%;
  height: 100%;
  display: flex;
}

.notification {
  height: 100%;
  position: absolute;
  right: -15px;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}

.notification:global(.red) {
  color: #ff0000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
