<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
    <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null">
        <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

            <OrigamSettings>
                <BaseFolder>C:\Users\jindr\Documents\Source\Repos\Origam2\origam-backend\OrigamArchitect\bin\debug-net2\</BaseFolder>
                <SchemaConnectionString />
                <ModelSourceControlLocation>C:\OrigamProjects\emptyTestProject</ModelSourceControlLocation>
                <DataConnectionString>Data Source=.;Initial Catalog=emptyTestProject_data;Integrated Security=True;User ID=;Password=;Pooling=True</DataConnectionString>
                <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
                <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
                <SecurityDomain />
                <ReportConnectionString />
                <PrintItServiceUrl />
                <SQLReportServiceUrl />
                <SQLReportServiceAccount />
                <SQLReportServicePassword />
                <SQLReportServiceTimeout>60000</SQLReportServiceTimeout>
                <GUIExcelExportFormat>XLS</GUIExcelExportFormat>
                <DefaultSchemaExtensionId>8662c795-955b-4e12-bb90-f1a23e01f226</DefaultSchemaExtensionId>
                <ExtraSchemaExtensionId>00000000-0000-0000-0000-000000000000</ExtraSchemaExtensionId>
                <TitleText>emptyTestProject</TitleText>
                <Slogan />
                <Name>emptyTestProject</Name>
                <LocalizationFolder />
                <TranslationBuilderLanguages />
                <HelpUrl>http://wiki.simplicor.com</HelpUrl>
                <ModelProvider>Origam.OrigamEngine.FilePersistenceBuilder, Origam.OrigamEngine</ModelProvider>
            </OrigamSettings>

        </ArrayOfOrigamSettings>
    </xmlSerializerSection>
</OrigamSettings>