<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.14.2825.20394, Culture=neutral, PublicKeyToken=null">
    <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <OrigamSettings>
        <SchemaConnectionString>$project.ModelConnectionString$</SchemaConnectionString>
        <DataConnectionString>$project.DataConnectionString$</DataConnectionString>
        <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
        <DefaultSchemaExtensionId>$project.NewPackageId$</DefaultSchemaExtensionId>
        <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
        <DataServiceSelectTimeout>120</DataServiceSelectTimeout>
        <TitleText>$project.Name$</TitleText>
        <Name>$project.Name$</Name>
        <LoadExternalWorkQueues>true</LoadExternalWorkQueues>
        <ExternalWorkQueueCheckPeriod>180</ExternalWorkQueueCheckPeriod>
        <WorkQueueListRefreshPeriod>60</WorkQueueListRefreshPeriod>
        <HelpUrl>doc.aspx</HelpUrl>
        <ModelSourceControlLocation>$project.SourcesFolder$</ModelSourceControlLocation>
        <ModelProvider>Origam.OrigamEngine.FilePersistenceBuilder, Origam.OrigamEngine</ModelProvider>
      </OrigamSettings>
    </ArrayOfOrigamSettings>
  </xmlSerializerSection>
</OrigamSettings>
