<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <!-- UI (Flash Portal) configuration. -->    
    <section name="appPortalSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!-- Application logging configuration. -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- Enterprise application configuration and security configuration.  -->
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration"/>
    <!-- Amazon Simple Storage Service configuration. Amazon S3 could be used as an attachment handler. -->
    <!--
    <section name="S3Settings" type="Origam.Server.S3Settings, Origam.Server"/>
    -->
    <!-- Internal handlers configuration - select providers of internal tasks ( ) -->
    <section name="InternalHandlers" type="Origam.Server.InternalHandlers, Origam.Server"/>
    <!-- -->
    <section name="languageSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="problemReportingSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="geoLocationSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <languageSettings file="language.config"/>
  <appPortalSettings file="portal.config"/>
  <problemReportingSettings file="problemReporting.config"/>
  <geoLocationSettings file="geoLocation.config"/>
  <!-- Attachment handler configuration -->
  <InternalHandlers AttachmentHandler="Origam.Server.AttachmentSQLDbHandler"/>
  <!-- Amazon S3 attachment storage settings -->
  <!--
  <S3Settings AWSAccessKey="???" AWSSecretKey="???" BucketName="???" Timeout="600000" UrlExpiration="60000"/>
  -->
  <enterpriselibrary.configurationSettings applicationName="Application" 
                                           xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                                           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                                           xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection name="OrigamSettings" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="OrigamSettings.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes/>
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityConfiguration.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes/>
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true"/>
    <includeTypes/>
  </enterpriselibrary.configurationSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="$project.BinFolder$\logs\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%identity&gt; - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="portalTitle" value="$project.Name$"/>
    <add key="supportsPasswordRecovery" value="false"/>
    <!-- url to which the bottom login image points at -->
    <add key="bottomLogoUrl" value="http://www.origam.com" />
    <!-- background color of the page shown when Flash is loading -->
    <add key="preloaderBackColor" value="#767676" />
    <add key="webPages:Version" value="2.0.0.0"/>
    <!-- turns off asp.net automatical Forms based authentication -->
    <add key="autoFormsAuthentication" value="false"/>
    <!-- turns off asp.net SimpleMembership module -->
    <add key="enableSimpleMembership" value="false"/>
	<add key="mailFrom" value="support@my-company.com"/>
  </appSettings>
  <system.net>
    <!-- SMTP Settings, see https://msdn.microsoft.com/en-us/library/w355a94k(v=vs.110).aspx -->
    <mailSettings>
      <smtp from="mycompany.com">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime executionTimeout="600" targetFramework="4.7.2"/>
    <compilation debug="false" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    
    <!-- Supported languages: en-US, cs-CZ, de-DE, de-CH 
         culture: defines date and number format
         uiCulture: defines GUI language and message translations
    -->
    <globalization culture="en-US" enableClientBasedCulture="true" uiCulture="en-US" />
  </system.web>
  <location path="Setup">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Recover">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="assets">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadAttachment.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadBlob.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Search.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules>
      <add name="OrigamPagesModule" type="Origam.Server.Pages.PagesModule, Origam.Server" />
      <add name="FluorineGateway" type="FluorineFx.FluorineGateway, FluorineFx"/> -->
    </modules>
    <handlers>
      <add verb="*" path="Gateway.aspx" type="Origam.Server.Handlers.GatewayHandler, Origam.Server.Handlers" name="GatewayHandler"/>
      <add verb="*" path="SignOut.ashx" type="Origam.Server.Handlers.SignOutHandler, Origam.Server.Handlers" name="SignOutHandler"/>
      <add verb="*" path="ReportProblem.ashx" type="Origam.Server.Handlers.ReportProblemHandler, Origam.Server.Handlers" name="ReportProblemHandler"/>
      <add verb="*" path="GeoLocation.ashx" type="Origam.Server.Handlers.GeoLocationHandler, Origam.Server.Handlers" name="GeoLocationHandler"/>
      <add verb="*" path="Search.aspx" type="Origam.Server.Search.SearchResultHandler, Origam.Server" name="SearchResultHandler"/>
      <add verb="*" path="ReportViewer.aspx" type="Origam.Server.ReportViewerHandler, Origam.Server" name="ReportViewerHandler"/>
      <add verb="*" path="Attachment.aspx" type="Origam.Server.AttachmentDownloadHandler, Origam.Server" name="AttachmentDownloadHandler"/>
      <add verb="*" path="UploadAttachment.aspx" type="Origam.Server.AttachmentUploadHandler, Origam.Server" name="AttachmentUploadHandler"/>
      <add verb="*" path="Export.aspx" type="Origam.Server.EntityExportDownloadHandler, Origam.Server" name="ExportHandler"/>
      <add verb="*" path="UploadBlob.aspx" type="Origam.Server.BlobUploadHandler, Origam.Server" name="BlobUploadHandler"/>
      <add verb="*" path="DownloadBlob.aspx" type="Origam.Server.BlobDownloadHandler, Origam.Server" name="BlobDownloadHandler"/>
      <add verb="*" path="doc.aspx" type="Origam.Server.Doc.DocHandler, Origam.Server" name="DocHandler"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Portal.cshtml"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
