<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="./logs/OrigamServer.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="Mail" type="log4net.Appender.RollingFileAppender">
    <file value="../logs/origam/MailLog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <acceptOnMatch value="true" />
      <LoggerToMatch value="Origam.Security.Common.AccountMailSender" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <root>
    <level value="ERROR" />
    <appender-ref ref="FileAppender" />
  </root>
  <logger name="Origam.Security.Common.AccountMailSender" additivity="false">
    <level value="INFO" />
    <appender-ref ref="Mail" />
  </logger>
  <logger name="Origam.Server.Controllers.MetaDataController" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="FileAppender" />
  </logger>
</log4net>
