<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add
          name="aspNetCore"
          path="*"
          verb="*"
          modules="AspNetCoreModule"
          resourceType="Unspecified"
        />
      </handlers>
      <aspNetCore
        processPath="C:\inetpub\Path_To_Origam.ServerCore.exe\Origam.Server.exe"
        stdoutLogEnabled="false"
        stdoutLogFile=".\logs\stdout"
        hostingModel="inprocess"
      />
    </system.webServer>
  </location>
</configuration>
