@mixin hoverItemAnimation {
  transition: all 300ms linear;
}

@mixin popoverShadow {
  -webkit-box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
}

$textColorNoHover: #3e3d45;
$textColorHover: #0d0d0d;
