@mixin hoverItemAnimation {
  transition: all 300ms linear;
}

@mixin popoverShadow {
  -webkit-box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 7px -2px rgba(0, 0, 0, 0.75);
}

@mixin progressIndicator {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  overflow: hidden;

  $indefiniteMarkerWidth: 200%;

  @keyframes slideright {
    from {
      margin-left: -$indefiniteMarkerWidth;
    }
    to {
      margin-left: 100%;
    }
  }

  .indefinite {
    margin-left: -$indefiniteMarkerWidth;
    animation-name: slideright;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: $indefiniteMarkerWidth;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,73b1e7+34,0a77d5+50,73b1e7+66,73b1e7+66,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #ffffff 0%,
      #73b1e7 34%,
      #0a77d5 50%,
      #73b1e7 66%,
      #73b1e7 66%,
      #ffffff 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #ffffff 0%,
      #73b1e7 34%,
      #0a77d5 50%,
      #73b1e7 66%,
      #73b1e7 66%,
      #ffffff 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff 0%,
      #73b1e7 34%,
      #0a77d5 50%,
      #73b1e7 66%,
      #73b1e7 66%,
      #ffffff 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}

$textColorNoHover: #3e3d45;
$textColorHover: #0d0d0d;
