$base-font: 12px "Arial", sans-serif;

$skeleton-bgcolor: #4C4C4C;
$skeleton-color: white;

$toolbar-bgcolor: #8998C5;
$toolbar-color: white;

$panel-bgcolor: #E5E5E5;
$panel-color: black;
$subpanel-bgcolor: #CECECE;
$subpanel-color: black;


$tab-handle-bgcolor: #666666;
$tab-handle-color: #C9C9C9;
$tab-handle-active-bgcolor: #8998C5;
$tab-handle-active-color: white;
$tab-handle-hover-bgcolor: #8998C5;
$tab-handle-hover-color: #C9C9C9;

$main-tab-handle-bgcolor: #666666;
$main-tab-handle-color: #8B8B8B;
$main-tab-handle-active-bgcolor: #E5E5E5;
$main-tab-handle-active-color: black;