.splitter-container {
  flex: 1 0 0;
  display: flex;
  overflow: hidden;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
  &.moving {
    user-select: none;
  }
}

.splitter-panel {
  display: flex;
  overflow: hidden;
}

.splitter-handle {
  z-index: 1000;
  &.horizontal {
    width: 3px;
    cursor: col-resize;
  }
  &.vertical {
    height: 3px;
    cursor: row-resize;
  }
  &.moving {
    position: relative;
    background-color: #5f5f5f6b;
  }
  &.impossible {
    background-color: #ff02026b;
  }
}

.oui-body-bar {
  .splitter-handle {
    &.horizontal {
      background-color: #4c4c4c;
      width: 10px;
    }
    &.moving {
      position: relative;
      background-color: #5f5f5f6b;
    }
  }
}

.oui-window {
  .splitter-handle {
    &.horizontal {
      background-color: #8998C5;
      width: 3px;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }
    &.vertical {
      background-color: #8998C5;
      height: 3px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }    
    &.moving {
      position: relative;
      background-color: #5f5f5f6b;
    }
  }
}


