:root {
    --white:             #FFFFFF;
    --grey1:             #F7F6FA;
    --grey2:             #E9E8F0;
    --grey25: #D3D3D3;
    --grey3:             #B0AFB7;
    --grey4:             #77767E;
    --grey5:             #3E3D45;
    --black:             #0D0D0D;
    --blue1:              #4C84FF;
    --blue3: #73b1e7;
    --blue2: #0a77d5;
    --blue4: #ACC6FF;
    --blue5: #EDF2FF;
    --blue6: #8998C5;
    --blue7: #435BA3;
    --green:             #69D07F;
    --yellow:            #FFBF05;
    --orange:            #FE8933;
    --red:               #FE5461;
    --brown: #6B4C23;
}