
@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

$white: #FFFFFF;
$grey1: #F7F6FA;
$grey2: #E9E8F0;
$grey25: #D3D3D3;
$grey3: #B0AFB7;
$grey4: #77767E;
$grey5: #3E3D45;
$black: #0D0D0D;
$blue1: #4C84FF;
$blue3: #73b1e7;
$blue2: #0a77d5;
$blue4: #ACC6FF;
$blue5: #EDF2FF;
$blue6: #8998C5;
$blue7: #435BA3;
$green: #69D07F;
$yellow: #FFBF05;
$orange: #FE8933;
$red: #FE5461;
$brown: #6B4C23;

:root {
    --white: #{$white};
    --grey1: #{$grey1};
    --grey2: #{$grey2};
    --grey25: #{$grey25};
    --grey3: #{$grey3};
    --grey4: #{$grey4};
    --grey5: #{$grey5};
    --black: #{$black};
    --blue1: #{$blue1};
    --blue3: #{$blue3};
    --blue2: #{$blue2};
    --blue4: #{$blue4};
    --blue5: #{$blue5};
    --blue6: #{$blue6};
    --blue7: #{$blue7};
    --green: #{$green};
    --yellow: #{$yellow};
    --orange: #{$orange};
    --red: #{$red};
    --brown: #{$brown};

    --white-rgb: #{hexToRGB($white)};
    --grey1-rgb: #{hexToRGB($grey1)};
    --grey2-rgb: #{hexToRGB($grey2)};
    --grey25-rgb: #{hexToRGB($grey25)};
    --grey3-rgb: #{hexToRGB($grey3)};
    --grey4-rgb: #{hexToRGB($grey4)};
    --grey5-rgb: #{hexToRGB($grey5)};
    --black-rgb: #{hexToRGB($black)};
    --blue1-rgb: #{hexToRGB($blue1)};
    --blue3-rgb: #{hexToRGB($blue3)};
    --blue2-rgb: #{hexToRGB($blue2)};
    --blue4-rgb: #{hexToRGB($blue4)};
    --blue5-rgb: #{hexToRGB($blue5)};
    --blue6-rgb: #{hexToRGB($blue6)};
    --blue7-rgb: #{hexToRGB($blue7)};
    --green-rgb: #{hexToRGB($green)};
    --yellow-rgb: #{hexToRGB($yellow)};
    --orange-rgb: #{hexToRGB($orange)};
    --red-rgb: #{hexToRGB($red)};
    --brown-rgb: #{hexToRGB($brown)};
}