@import "src/gui02/components/Splitter/Splitter.module.scss";
@import "src/styles/definitions.scss";

.divider {
  background: $white;
  &:global(.isDragging) {
    position: relative;
    z-index: 1000;
    background: $blue;
    @include opacity(0.8);
    border-color: $blue !important;
  }
  &:not(:global(.isDragging)):hover {
    :global(.dividerLine) {
      border-color: $blue !important; 
    }
    background: $white;
  }
}