@import "src/gui02/components/Splitter/Splitter.module.scss";

.divider {
  background-color: white;
  &:global(.isDragging) {
    position: relative;
    background-color: black;
    opacity: 0.2;
    z-index: 1000;
  }
  &:not(:global(.isDragging)):hover {
    background-color: white;
    :global(.dividerLine) {
      border-color: #202020;
    }
  }
}