@import "origam";

body {
  font: $base-font;
}

.oui-unknown {
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}

.oui-form-root {
  /* border: 1px solid black;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*min-height: 500px;*/
  flex: 1 1 0;
  /*padding: 2px;
  margin: 2px;*/
  overflow: auto;
  background-color: $panel-bgcolor;
  color: $panel-color;
  position: relative;
}

.oui-label {
  background-color: $panel-bgcolor;
  color: $panel-color;
}

.oui-panel {
  position: absolute;
  border: 1px solid #222222;
  background-color: $subpanel-bgcolor;
  color: $subpanel-color;
  box-sizing: border-box;
}

.oui-panel-label {
  position: absolute;
  font-size: 1.3em;
  font-weight: bold;
}

.oui-properties-inner {
  position: relative;
  padding-right: 50px;
}

.oui-property {
  position: absolute;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #8b8b8b;
  z-index: 1000;
}

.oui-property-default {
  width: 100%;
  height: 100%;
  border: 1px solid #8b8b8b;
  white-space: nowrap;
  padding-left: 2px;
}

.oui-property-caption {
  position: absolute;
  white-space: nowrap;
  background-color: transparent;
  display: flex;
  align-items: center;
  /* margin-left: 2px;
  margin-right: 2px; */
  padding-left: 2px;
  padding-right: 2px;
  box-sizing: border-box;
  overflow: hidden;
}

.oui-vsplit-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.oui-vsplit-panel {
  flex: 1 1 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.oui-vsplit-handle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: row-resize;
  height: 7px;
  background-color: $split-handle-bgcolor;
  color: $split-handle-color;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  .knob {
    width: 20px;
    height: 3px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

.oui-hsplit-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.oui-hsplit-panel {
  flex: 1 1 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.oui-hsplit-handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: col-resize;
  width: 7px;
  background-color: $split-handle-bgcolor;
  color: $split-handle-color;
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
  .knob {
    height: 20px;
    width: 3px;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
}


.vsplit {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 3px;
  //@extend %block-debug;
}

.vsplitdiv {
  min-height: 3px;
  max-height: 3px;
  background-color: green;
  cursor: row-resize;
}

.hsplit {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  margin: 3px;
  //@extend %block-debug;
}

.hsplitdiv {
  min-width: 3px;
  max-width: 3px;
  background-color: green;
  cursor: col-resize;
}

.split-panel {
  display: flex;
  margin: 3px;
  border: 1px dotted white;
  &.last {
    flex: 1 1 auto;
  }
}

.oui-tree-panel {
  flex: 1 1 0;
  max-width: 300px;
}

.oui-window {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow: auto;
  background-color: $panel-bgcolor;
  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.oui-window-header {
  min-height: 48px;
  max-height: 48px;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
  background-color: $panel-bgcolor;
  .title,
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .buttons {
    button {
      cursor: pointer;
      border: none;
      background: none;
      padding: 3px;
      &.active {
        background-color: $toolbar-btn-hover-bgcolor;
        color: $toolbar-btn-hover-color;
      }
      &:hover {
        background-color: $toolbar-btn-bgcolor;
        color: $toolbar-btn-color;
      }
    }
  }
  .title {
    .fa {
      margin-right: 10px;
      font-size: 0.9em;
    }
  }
}

.oui-window-content {
  flex: 1 1 0;
  display: flex;
  overflow: auto;
}

.oui-grid {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  //border: 1px solid red;
}

.oui-grid-toolbar {
  min-height: $toolbar-height;
  max-height: $toolbar-height;
  background-color: $toolbar-bgcolor;
  color: $toolbar-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  .oui-toolbar-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toolbar-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .oui-toolbar-btn {
    padding: 0px 3px 0px 3px;
    margin: 0px;
    height: $toolbar-height;
    min-width: $toolbar-height;
    background-color: $toolbar-btn-bgcolor;
    color: $toolbar-btn-color;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $toolbar-height;
    .fa-step-forward,
    .fa-step-backward,
    .fa-table,
    .fa-list-alt,
    .fa-map-o,
    .fa-plus-circle,
    .fa-minus-circle,
    .fa-copy,
    .fa-filter,
    .fa-cog {
      font-size: $toolbar-height - 6px;
    }
    .fa-cog {
      padding-right: 3px;
    }
    &:hover {
      background-color: $toolbar-btn-hover-bgcolor;
      color: $toolbar-btn-hover-color;
    }
    .icon {
      width: 100%;
      height: 100%;
    }
  }
  .toolbar-section {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0px 15px 0px 15px;
    &.pusher {
      flex: 1 1 0;
    }
  }
}

.oui-tab {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.oui-tab-handles {
  height: 20px;
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  background-color: $panel-bgcolor;
}

.oui-tab-handle {
  background-color: $tab-handle-bgcolor;
  color: $tab-handle-color;
  &.active {
    background-color: $tab-handle-active-bgcolor;
    color: $tab-handle-active-color;
  }
  &:hover {
    background-color: $tab-handle-hover-bgcolor;
    color: $tab-handle-hover-color;
  }
  cursor: pointer;
  min-width: 100px;
  margin-right: 2px;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oui-tab-panels {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.oui-box {
  flex: 1 1 0;
  display: flex;
}

.oui-vbox {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.oui-mapview {
  flex: 1 1 0;
  display: flex;
}

.hidden {
  display: none;
}

.table-column-header-container {
  color: $column-header-color;
  background-color: $column-header-bgcolor;
  display: flex;
  flex-direction: column;
}

.table-column-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  // border-left: 1px solid #8b8b8b;
  box-sizing: border-box;
  position: relative;
  .ordering-marker {
    float: right;
    position: absolute;
    right: 2px;
    top: 0px;
    height: 100%;
    background-color: $column-header-bgcolor;
    margin: 0px;
    margin-left: 3px;
    border: none;
    border-radius: 10px;
    .fa-sort-down {
      position: relative;
      top: -3px;
    }
    .fa-sort-up {
      position: relative;
      top: 2px;
    }
  }
  .ordering-marker:hover {
    background-color: $toolbar-bgcolor;
    color: $toolbar-color;
  }
}

.table-column-header.has-marker {
  padding-right: 40px;
}

.column-header-width-handle {
  min-width: 2px;
  height: 100%;
  background-color: #8b8b8b;
  cursor: col-resize;
  position: relative;
  z-index: 1000;
  border: none;
}

.oui-app {
  width: 100%;
  height: 100%;
  background-color: $skeleton-bgcolor;
  color: $skeleton-color;
  display: flex;
  flex-direction: column;
}

.oui-header-bar {
  height: 100px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;

  .section {
    border-right: 1px solid #666666;
  }

  .logo-section {
    display: flex;
    flex-direction: column;
    .logo-box {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .t1 {
        text-align: center;
        font-size: 40px;
        font-family: "Black And White Picture", sans-serif;
      }
      .t2 {
        text-align: center;
        font-size: 50px;
        font-family: "Black And White Picture", sans-serif;

        color: #ff9e4f;
      }
    }
    .search-box {
      position: relative;
      input {
        background-color: #666666;
        border: none;
        height: 24px;
        color: white;
        padding-left: 3px;
      }
      .search-icon {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        padding: 0px 5px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .view-setup-section {
    display: flex;
    flex-direction: column;
    .action-item {
      cursor: pointer;
      height: 21px;
      display: flex;
      align-items: center;
      padding: 0px 20px 0px 20px;
      & > .fa {
        padding-right: 10px;
        font-size: 13px;
      }
    }
    .horizontal-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .action-item {
        padding: 3px;
        & > .fa {
          padding: 5px;
        }
        .density-1 {
          transform: scale(1, 1);
        }
        .density-2 {
          transform: scale(1, 1.2);
        }
        .density-3 {
          transform: scale(1, 1.4);
        }
      }
    }
    .action-item:hover {
      background-color: $tab-handle-hover-bgcolor;
    }
  }

  .actions-section {
    display: flex;
    flex-direction: row;
    .action-item-big {
      cursor: pointer;
      text-align: center;
      padding: 10px 15px 10px 15px;
      .fa {
        font-size: 40px;
      }
    }
    .action-item-big:hover {
      background-color: $tab-handle-hover-bgcolor;
    }
  }
}

.oui-body-bar {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.oui-side-bar {
  min-width: 300px;
}

.oui-main-menu {
  flex: 1 1 auto;
  display: block;
  height: 100%;
  overflow: auto;
  background-color: $panel-bgcolor;
  color: $panel-color;
  //border-right: 10px solid $skeleton-bgcolor;
}

.main-menu-item.section {
  display: flex;
  &.collapsed {
    display: none;
  }
  flex-direction: column;
  .main-menu-item.item {
    padding-left: 10px;
  }
  .main-menu-item.section {
    .main-menu-item.item {
      padding-left: 10px + 1 * 17px;
    }
    .main-menu-item.section {
      .main-menu-item.item {
        padding-left: 10px + 2 * 17px;
      }
      .main-menu-item.section {
        .main-menu-item.item {
          padding-left: 10px + 3 * 17px;
        }
        .main-menu-item.section {
          .main-menu-item.item {
            padding-left: 10px + 4 * 17px;
          }
          .main-menu-item.section {
            .main-menu-item.item {
              padding-left: 10px + 5 * 17px;
            }
          }
        }
      }
    }
  }
}

.main-menu-item.item {
  position: relative;
  height: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .fa {
    font-size: 15px;
    margin: 0px 5px 0px 0px;
  }
  .status {
    height: 100%;
    position: absolute;
    right: 3px;
    display: flex;
    align-items: center;
  }
}

.main-menu-item.item.active {
  background-color: #8998c5;
  color: white;
}

.main-menu-item.item:hover {
  background-color: $tab-handle-hover-bgcolor;
  color: black;
}

.oui-main-tabs {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.oui-main-tab-handles {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.oui-main-tab-handle {
  display: flex;
  align-items: center;
  height: 24px;
  display: flex;
  padding: 0px 30px 0px 5px;
  color: #cccccc;
  background-color: #666666;
  margin-right: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  position: relative;

  .handle-btn {
    margin: 0px;
    padding: 0px 7px 0px 7px;
    height: 100%;
    background: transparent;
    border: none;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    color: #cccccc;
  }
  .handle-btn:hover {
    color: white;
    background: #666666;
    cursor: pointer;
  }
}

.oui-main-tab-handle.active {
  background-color: $panel-bgcolor;
  color: $panel-color;
  margin-bottom: 0px;
  .handle-btn {
    color: black;
  }
  .handle-btn:hover {
    color: white;
    background: #666666;
    cursor: pointer;
  }
}

.oui-main-tab-handle:not(.active):hover {
  background-color: $tab-handle-hover-bgcolor;
}

.oui-main-tab-contents {
  display: flex;
  flex: 1 1 0;
  background-color: $panel-bgcolor;
  color: $panel-color;
}

.oui-data-bar {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
}

canvas {
  display: block;
}

.grid-view-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
}

.grid-view-root {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}

.grid-view-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

.grid-view-scroller {
  overflow: scroll;
  color: black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.oui-data-bar,
.oui-main-tabs,
.oui-main-tab-contents {
  overflow: hidden;
}