@import "src/styles/common_styles.scss";

.root {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;

  .webContent {
    width: 100%;
    height: 100%;
    border: none;
  }

  .progressIndicator {
    @include progressIndicator;
    top: 0;
    background-color: white;
  }

  .transparentOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
  }
}