<?xml version="1.0" encoding="utf-8"?>

<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.14.2825.20394, Culture=neutral, PublicKeyToken=null">
    <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <OrigamSettings>
        <SchemaConnectionString>Server=.\origam;database=dev_model;Integrated Security=SSPI</SchemaConnectionString>
        <DataConnectionString>Server=.\origam;database=dev_data;Integrated Security=SSPI</DataConnectionString>
        <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
        <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
        <SecurityDomain>AS</SecurityDomain>
        <ReportConnectionString />
        <DefaultSchemaExtensionId>1efaf288-e31c-4b9b-976f-2c78a4e4d249</DefaultSchemaExtensionId>
        <TitleText>ERP ORIGAM EMPTY 2009.3 (sql server)</TitleText>
        <Name>ERP ORIGAM EMPTY 2009.3 (sql server)</Name>
        <DataServiceSelectTimeout>70</DataServiceSelectTimeout>
        <ReportDefinitionsPath>C:\src\reports\simplicor</ReportDefinitionsPath>
        <Slogan>CRM/ERP for making your job simple!</Slogan>
        <LoadExternalWorkQueues>true</LoadExternalWorkQueues>
	      <WorkQueueListRefreshPeriod>60</WorkQueueListRefreshPeriod>
      </OrigamSettings>
    </ArrayOfOrigamSettings>
  </xmlSerializerSection>
</OrigamSettings>