.gridEditor {
  flex: 1;
}

.title {
  color: var(--background8);
  font-size: 1.8em;
  margin-bottom: 20px;
}

.backButton {
  background-color: var(--foreground1);
  color: var(--background1);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;

  &:hover {
    background-color: var(--foreground1);
  }
}

.category {
  margin-bottom: 20px;

  h4 {
    color: var(--background8);
    font-size: 1.4em;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--foreground1);
    padding-bottom: 5px;
  }
}

.property {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: 500;
  color: var(--background8);
  background-color: var(--background1);

  .propertyName {
    flex: 1;
    margin-right: 10px;
  }

  input,
  select {
    height: 40px;
    flex: 2;
    padding: 8px;
    font-size: 1em;
    border: 1px solid var(--background4);
    border-radius: 4px;
    background-color: var(--background1);
    color: var(--background8);
    box-sizing: border-box;

    &:disabled {
      background-color: var(--background3);
      cursor: not-allowed;
    }
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 12px auto;
    padding-right: 24px;
    margin-left: 10px;
  }

  .checkbox {
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 40px;
    max-width: 40px;
    padding: 0;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: var(--foreground1);
      border-color: var(--foreground1);

      &::after {
        content: '\2714';
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--background1);
      }
    }

    &:disabled {
      background-color: var(--background3);
      border-color: var(--background4);
    }
  }

  .checkboxContainer {
    flex: 2;
    display: flex;
    margin-left: -10px;
  }
}