@import "../../../styles/common_styles";

.root {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  button {
    @include dialogButton();
  }
  .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    > * {
      margin: 0;
      padding: 0;
    }
    * {
      font-size: 16px;
    }
  }
}
