@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<h3 class="confirmation-text">
    @SharedLocalizer["EmailConfirmation1"] <a class="in-page-link" asp-controller="Account" asp-action="Login">@SharedLocalizer["EmailConfirmation2"]</a> @SharedLocalizer["EmailConfirmation3"]
</h3>
