.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topToolbar {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  min-height: 100px;
}

.mainArea {
  display: flex;
  min-height: 0;
  flex: 1;
}

.editorArea {
  display: flex;
  padding: 1rem;
  flex: 1;
  overflow: auto;
}

.sideBar {
  display: flex;
  min-width: 300px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}