@import "src/styles/common_styles.scss";
@import "src/styles/definitions.scss";

.root {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 0.5em;



  &:hover {
    svg {
      stroke-width: 1.5;
    }
  }

  &:global(.isActive) {
    svg {
      stroke: #4c84ff !important;
      stroke-width: 2 !important;
    }
  }

  &:global(.isGreenHover):hover {
    color: #69d07f;
    svg {
      stroke: #69d07f !important;
    }
  }

  &:global(.isRedHover):hover {
    color: #fe5461;
    svg {
      stroke: #fe5461 !important;
    }
  }

  &:global(.isOrangeHover):hover {
    color: #fe8933;
    svg {
      stroke: #fe8933 !important;
    }
  }

  svg {
    height: 1.5em;
    width: 1.5em;
    stroke: $grey4;
    &:hover {
      stroke: $black;
    }
    @include hoverItemAnimation;
  }
}

