@import "src/styles/definitions.scss";

.root {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid $grey2;
  padding: 0 1.5em;

  &:global(.isHidden) {
    position: absolute;
    top: 110%;;
    left: 0;
  }

  &:first-of-type {
    border-left: 1px solid $grey2;
    border-right: none;
  }

  &:last-of-type {
    border-right: none;
    padding-right: 0;
  }
}
