/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/
div svg.deleteIcon{
  stroke: var(--error1);
}

.favoritesMenuItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background2);
}

:global(.openItem){
  background-color: var(--background1);
}


.addToFavoritesIconContainer{
  width: 15px;
  height: 15px;
  min-width: 15px;
  margin-right: 20px;
}

.addToFavoritesIcon {
  stroke: var(--foreground1);
  stroke-width: 1.5px;
  cursor: pointer;
}
:global(.activeAddToFavoritesIcon){
  stroke: var(--background4);
}

.isOpenedScreen{
  background-color: var(--background1);
}

.itemGrip{
  color: var(--background4);
  width: 16px;
  margin-right: 20px;
}

.topMenuHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

:global(.isHidden){
  display: none;
}