/*
Copyright 2005 - 2023 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.root {
  background: var(--background1);
  margin-bottom: 1em;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:not(:last-child) {
  margin-bottom: 8px;
}

div svg.icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  stroke: var(--background1);
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.errorIcon {
  fill: var(--error1);
}

.warningIcon {
  fill: var(--warning1);
}

.infoIcon {
  fill: var(--foreground1);
}