/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o. 

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.root {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 1;

  .tabs {
    display: flex;
    gap: 0.25rem;
  }

  .content {
    display: flex;
    overflow: auto;
    flex: 1;
    border: 1px solid var(--background3);
    border-top: 4px solid var(--brand);

    .hidden {
      display: none;
    }

    .visible {
      display: flex;
      flex: 1;
    }
  }
}
