/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o. 

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.root {
  display: flex;
  justify-content: space-between;
  min-width: 80px;
  border: 1px solid var(--background3);
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  &.activeTab {
    border: 1px solid var(--brand);
    background: var(--brand);
    color: #fff;
  }

  .title {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 0;
    user-select: none;

    .label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
      min-width: 0;
    }

    .asterisk {
      flex-shrink: 0;
      margin-left: 0.25rem;
    }
  }

  .close {
    margin-left: 10px;
    cursor: pointer;
  }

  .contextMenuButton {
    font-weight: normal;

    svg {
      font-weight: normal;
      margin-right: 0.5rem;
    }
  }
}
