/*
Copyright 2005 - 2024 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .alertCounter{
    top: -3px;
    left: 15px;
  }

  :global(.favorites) {
    border-left: none; 
  }

  :global(.devider) {
    height: 0px;
    border-top: none;
    margin: 0;
  }
}

.workQueueButton {
  position: relative;
}

.contentContainer {
  overflow: auto;
  height: 100%;
  background-color: var(--background2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottomContainer {
  display: flex;
  gap: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sectionIcon {
  width: 30px;
  &.active {
      stroke: var(--foreground1);
      stroke-width: 2;
  }
}
