.root {
  transform: translate(-0.01%, -0.01%);
  max-width: 0px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  canvas {
    opacity: 0;
    transition: opacity 0.1s steps(1, jump-end);
  }
  &:global(.isActive) {
    max-width: unset;
    transform: unset;
    canvas {
      opacity: unset;
    }
  }
}
