<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      
      <OrigamSettings>
        <ServerUrl>/test7</ServerUrl>
        <ServerLocalPath>C:\inetpub\test7</ServerLocalPath>
        <SchemaConnectionString>Data Source=.;Initial Catalog=vyvoj2;Integrated Security=True;User ID=;Password=;Pooling=True</SchemaConnectionString>
        <ModelSourceControlLocation>D:\OrigamProjects\vyvoj2</ModelSourceControlLocation>
        <DataConnectionString>Data Source=.;Initial Catalog=test7_data;Integrated Security=True;User ID=;Password=;Pooling=True</DataConnectionString>
        <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
        <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
        <SecurityDomain />
        <ReportConnectionString />
        <PrintItServiceUrl />
        <SQLReportServiceUrl />
        <SQLReportServiceAccount />
        <SQLReportServicePassword />
        <DefaultSchemaExtensionId>eb671ace-0ba4-4736-848d-cb25f543be3c</DefaultSchemaExtensionId>
        <ExtraSchemaExtensionId>00000000-0000-0000-0000-000000000000</ExtraSchemaExtensionId>
        <TitleText>test7</TitleText>
        <Slogan />
        <Name>test7</Name>
        <LocalizationFolder />
        <TranslationBuilderLanguages />
        <HelpUrl>http://origam.com/doc</HelpUrl>
      </OrigamSettings>

    </ArrayOfOrigamSettings>
  </xmlSerializerSection>
</OrigamSettings>