<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Origam.Sharepoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings><add key="Origam.Sharepoint.ListsWebService.Lists" value="http://xasweb/_vti_bin/Lists.asmx"/></appSettings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
        <Origam.Sharepoint.Properties.Settings>
            <setting name="Origam_ListsWebService_Lists" serializeAs="String">
                <value>http://asweb/_vti_bin/Lists.asmx</value>
            </setting>
        </Origam.Sharepoint.Properties.Settings>
    </applicationSettings>
</configuration>
