@import "src/styles/common_styles.scss";
@import "src/styles/definitions.scss";

.droppedPanel {
  @include popoverShadow;
  box-shadow: 0 0.5em 1.5em 0 rgba($black, 0.25);
  border: 1px solid $grey3;
  @include border-radius(4px);
}

.optionGridCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  @include hoverItemAnimation;
  background: $white !important;
  color: $blue;
  padding: 0 0.25em;
  &:hover {
    font-weight: 400;
    background: $blue !important;
    color: $white;
  }
}

.optionGridCell:global(.a) {
  background-color: white;
}

.optionGridCell:global(.b) {
  background-color: #F7F6FA;
}

.noItemsFound {
  font-style: italic;
  background-color: white;
  color: grey;
  white-space: nowrap;
  padding: 5px;
}

.tagInput{
  height: 23px;
}