/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

@import "src/styles/common_styles.scss";
@import "src/styles/definitions.scss";

.droppedPanel {
  @include popoverShadow;
  box-shadow: 0 0.5em 1.5em 0 rgba(var(--black), 0.25);
  border: 1px solid var(--grey3);
  @include border-radius(4px);
}

.optionGridCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
 white-space: nowrap;
  @include hoverItemAnimation;
  background: var(--white) !important;
  color: var(--blue1);
  padding: 0 0.25em;
  &:hover {
    font-weight: 400;
    background: var(--blue1) !important;
    color: var(--white);
  }
}

.optionGridCell:global(.a) {
  background-color:var(--white);
}

.optionGridCell:global(.b) {
  background-color: var(--grey1);
}

.noItemsFound {
  font-style: italic;
  background-color:var(--white);
  color: grey;
 white-space: nowrap;
  padding: 5px;
}

.tagInput{
  height: 23px;
}