.root {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  &:global(.isHidden) {
    //display: none;
    //visibility: hidden;
    transform: translate(100%, 100%);
  }
}