.splitterContainer {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.splitterContainerHorizontal {
  composes: splitterContainer;
  flex-direction: row;
}

.splitterContainerVertical {
  composes: splitterContainer;
  flex-direction: column;
}

.splitterContainerHorizontal:global(.moving),
.splitterContainerVertical:global(.moving) {
  user-select: none;
}

.splitterPanel {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}

.splitterHandle {
  z-index: 1000;
  flex-shrink: 0;
  flex-grow: 0;
}

.splitterHandleHorizontal {
  composes: splitterHandle;
  width: 3px;
  cursor: col-resize;
}

.splitterHandleVertical {
  composes: splitterHandle;
  height: 3px;
  cursor: row-resize;
}

.splitterHandleHorizontal:global(.moving),
.splitterHandleVertical:global(.moving) {
  position: relative;
  background-color: #5f5f5f6b;
}

/*
.splitter-handle-main-splitter {
  &.horizontal {
    width: 10px !important;
    &:hover {
      background-color: #555555;
    }
  }
}*/
