/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.inputContainer {
  display: flex;
}

.input {
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 0.25rem;
  border: 1px solid var(--brand);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
