/*
Copyright 2005 - 2026 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.root {
  display: flex;
  position: relative;

  .searchIcon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--brand);
    font-size: 1.25rem;
    pointer-events: none;
  }

  .input {
    height: 100%;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    font-size: 1rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    border: 1px solid var(--brand);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: var(--brand);

    &::placeholder {
      color: var(--brand-desaturate);
    }

    &:focus {
      outline: none;
      border-color: var(--brand);
    }
  }

  .clearButton {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    color: var(--brand-desaturate);
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #333;
    }
  }
}
