<?xml version="1.0" encoding="UTF-8"?>
<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ArrayOfOrigamSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	  <OrigamSettings>
		<DataConnectionString>Server=.;database=model-tests-master;Integrated Security=SSPI</DataConnectionString> 
        <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
        <SecurityDomain></SecurityDomain>
        <ReportDefinitionsPath>C:\inetpub\wwwroottest\asap\reports</ReportDefinitionsPath>
        <ReportConnectionString />
        <PrintItServiceUrl />        
		<DefaultSchemaExtensionId>c130ecd2-3b61-48fe-bac0-b721f86b0a0f</DefaultSchemaExtensionId>
        <ExtraSchemaExtensionId>00000000-0000-0000-0000-000000000000</ExtraSchemaExtensionId>
        <TitleText>Model for tests - master</TitleText>
        <Slogan>DON'T PANIC!</Slogan>
        <Name>Model for tests - master</Name>
        <LocalizationFolder>C:\git\origam-leco-arch\model-root\</LocalizationFolder>
        <TranslationBuilderLanguages />
        <HelpUrl>http://wiki.simplicor.com</HelpUrl>
		<ModelProvider>Origam.OrigamEngine.FilePersistenceBuilder, Origam.OrigamEngine</ModelProvider>
		<AuthorizationProvider>Origam.Security.OrigamDatabaseAuthorizationProvider, Origam.Security</AuthorizationProvider>
		<ProfileProvider>Origam.Security.OrigamProfileProvider, Origam.Security</ProfileProvider>
		<ModelSourceControlLocation>C:\git\origam-leco-arch\model-tests\model</ModelSourceControlLocation>
      </OrigamSettings>	
    </ArrayOfOrigamSettings>
  </xmlSerializerSection>
</OrigamSettings>