.form-view {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;

  .form-root {
    position: relative;
    flex-grow: 1;
    overflow: auto;
    background-color: #e5e5e5;
  }

  .form-section {
    position: absolute;
    background-color: #cecece;

    & > .section-title {
      padding: 3px;
      font-weight: bold;
      background-color: #e5e5e5;
      font-size: 14px;
      color: #333333;
    }
  }

  .form-field {
    position: absolute;
    // background-color: #ffffff;
    overflow: visible;
    // padding: 3px;
    display: flex;
    // align-items: center;
    // justify-content: center;
  }

  .form-field-name {
    position: absolute;
    // border: 1px solid black;
    box-sizing: border-box;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    // padding: 3px;
    padding-top: 3px;
  }
}
