.toolbox {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}

.inputs {
  margin-bottom: 10px;
  margin-top: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

.componentDesigner {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.draggableItems {
  background-color: #f0f0f0;
  padding: 16px;
  border-right: 1px solid #ccc;
}

.toolItem {
  padding: 8px;
  margin: 8px 0;
  background-color: #fff;
  cursor: move;
  user-select: none;

  &:hover {
    background-color: #f8f8f8;
  }
}

.designSurface {
  flex: 1;
  position: relative;
  background-color: #fff;
  overflow: auto;
}

.componentLabel {
  position: absolute;
}

.designComponent {
  position: absolute;
  background-color: #fff;
  display: flex;
  align-items: center;
  user-select: none;

  &.selected {
    border: 1px solid #0066cc;
  }

  &.dragging {
    opacity: 0.8;
    border: 1px solid #666;
  }
}

.label {
  min-width: 50px;
  min-height: 20px;
  background-color: transparent;
}

.groupBox {
  min-width: 100px;
  min-height: 50px;
  border: 2px solid #666;
  padding: 20px 8px 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

.panel {
  background: var(--background2);
  width: 100%;
  height: 100%;
}

.groupBoxContent {
  width: 100%;
  height: 100%;
}

.designSurfaceEditorContainer {
  display: flex;
  flex: 1;
  height: 100%;
}

.designSurfaceInput {
  border: 1px solid #ccc;
  flex: 1;
}

.designSurfaceCheckbox {
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
}

.groupBoxHeader {
  position: absolute;
  top: -10px;
  left: 8px;
  background-color: #fff;
  padding: 0 4px;
}

.resizeHandle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid #0066cc;
  border-radius: 50%;

  &.top {
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    cursor: n-resize;
  }

  &.right {
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
    cursor: e-resize;
  }

  &.bottom {
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    cursor: s-resize;
  }

  &.left {
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
    cursor: w-resize;
  }

  &.topLeft {
    top: -4px;
    left: -4px;
    cursor: nw-resize;
  }

  &.topRight {
    top: -4px;
    right: -4px;
    cursor: ne-resize;
  }

  &.bottomRight {
    bottom: -4px;
    right: -4px;
    cursor: se-resize;
  }

  &.bottomLeft {
    bottom: -4px;
    left: -4px;
    cursor: sw-resize;
  }
}

.toolboxField {
  display: flex;
  gap: 3px;
  cursor: move;
  user-select: none;
}

.toolboxFieldIcon {
  width: 20px;
  height: 20px;
  background: #4C84FF;
}