// THIS FILE MIGHT POTENTIALLY GET UNUSED AFTER MIGRATING THE OLD EDITORS

@import "src/styles/common_styles.scss";

@mixin input {
  width: 100%;
  height: 100%;
  background: #e9e8f0;
  border: 1px solid #b0afb7;
  box-sizing: border-box;
  color: #0d0d0d;
  height: 20px;
  padding: 0 3px;
  border-radius: 2px;
  @include hoverItemAnimation;

  &:hover {
    background: #ffffff;
    border-color: #4c84ff;
  }

  &:focus {
    background: #ffffff;
    border-color: #4c84ff;
  }
}
