@{
    ViewData["Title"] = "Email Confirmation";
}

<h3 class="confirmation-text">
    Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
</h3>
