@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.ServerCore.Resources
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<h3 class="confirmation-text">
    @SharedLocalizer["ConfirmationOk1"] <a asp-controller="Account" asp-action="Login"> @SharedLocalizer["ConfirmationOk2"]</a>.
</h3>
