@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.ServerCore.Resources
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Email Not Confirmed";
}

<h3 class="confirmation-text">
    @SharedLocalizer["EmailSent"]
</h3>