@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.ServerCore.Resources
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
﻿@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
 
<h3 class="confirmation-text">
    @SharedLocalizer["CheckEmail"]
</h3>
