@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.ServerCore.Resources
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.ServerCore.IdentityServerGui.Account.LogoutViewModel

<div class="detailview-container">
    <div class="detailview-module with-title">
        <form asp-action="Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
            <h2>@SharedLocalizer["ConfirmLogout"]</h2>
            <div class="input-form">
                <div class="input-row">
                    <a class="btn normal-size primary submit-link" value="" href=# >@SharedLocalizer["Yes"]</a>
                </div>
            </div>
        </form>
    </div>
</div>