﻿@{
    ViewData["Title"] = "Registration Confirmation";
}
 
 <h3 class="confirmation-text">
     A new account has been created. Please click confirmation link in an email, we just sent you to activate the account.
 </h3>
