@model Origam.ServerCore.IdentityServerGui.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="detailview-container">
    <div class="detailview-module with-title">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
            <h2>Reset your password</h2>
            <input asp-for="Code" type="hidden" />
            <div class="input-form">
                <div class="input-row">
                    <label asp-for="Email"></label>
                    <input asp-for="Email"/>
                </div>                
                <div class="input-row">
                    <label asp-for="Password"></label>
                    <input asp-for="Password"/>
                </div> 
                <div class="input-row">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword"/>
                </div>
                <div class="input-row">
                    <a class="btn normal-size primary submit-link" value="" href=# >Reset</a>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationSummary"/>
