@import "src/styles/common_styles.scss";
@import "src/styles/definitions.scss";

.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;

  &:hover {
    .plus {
      background: $blue;
      border-color: $blue;
      color: $white;
      &:hover {
        background: $white;
        color: $blue;
      }
    }
    .input {
      border-color: $blue;
      &:focus {
        border-color: $blue;
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-weight: normal;
  cursor: default;
  background: $white;
  border: 1px solid $grey3;
  color: $black;
  height: 22px;
  margin: 0 0.25em 0.25em 0;
  padding: 0 0.2em 0 0.75em;
  @include border-radius(3em);

  .closeBtn {
    cursor: pointer;
    font-weight: normal;
    top: 0px;
    height: 100%;
    padding: 2px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include hoverItemAnimation;
    background: none;
    color: $grey4;
    position: relative;
    right: 0;
    width: 20px;
    &:hover {
      color: $red;
    }
  }
}

.plus {
  cursor: pointer;
  @include hoverItemAnimation;
  align-items: center;
  background: $grey3;
  border: 1px solid $grey3;
  color: $white;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 25px;
  @include border-radius(2px 0 0 2px);
  
  &:hover {
    color: #69d07f
  }


}

.input {
  background: $white;
  border: 1px solid $grey3;
  box-sizing: border-box;
  height: 25px;
  padding: 0.25em 0.3em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 25px);
  word-wrap: normal;
  @include border-radius(0 2px 2px 0);
  @extend %transition;

  &:focus {
    border-color: $blue;
  }
}

.fakeInput {
  border: none;
  width: 3px;
  padding: 1px;
  background: transparent;
  background: $red;
}