/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

@use "src/gui/commonStyles" as styles;

.root {
  height: 50px;
  //width: 100%;
  flex-shrink: 0;
  color: var(--background6);
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.6667em;
  position: relative;
  @include styles.hoverItemAnimation;
  &:global(.isActive) {
    color: var(--foreground1);
    font-weight: 700;
    svg:global(.icon) {
      stroke: var(--foreground1);
      stroke-width: 2;
    }
  }
  &:not(:global(.isActive)):hover {
    color: var(--background8);
    svg:global(.icon) {
      stroke: var(--background8);
      stroke-width: 1.5;
    }
  }
  svg:global(.icon) {
    @include styles.hoverItemAnimation;
    stroke: var(--background6);
  }
}

.icon {
  width: 1.6667em;
  height: 1.6667em;
  margin: 0 1em 0 0;
}