@import "src/styles/common_styles.scss";

.root {
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  @include hoverItemAnimation;

  &:not(:global(.isDisabled)):hover {
    background-color: #e0e0e0;
    font-weight: 400;
  }

  &:global(.isDisabled) {
    color: grey;
    cursor: not-allowed;
  }
}