.loginPage {
  width: 100%;
  height: 100%;
  background-color: #4c4c4c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brandImg {
  width: 200px;
  margin-bottom: 30px;
}

.inputRow {
  padding: 5px;
}

.spacer {
  height: 20px;
}

.userNameInput,
.passwordInput {
  padding: 10px 17px;
  border: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn {
  padding: 10px 30px 8px 30px;
  background-color: #8a98c5;
  border: none;
  text-transform: uppercase;
  color: white;
}

.submitBtn:hover {
  background-color: #435ba3;
}

.formInfoText {
  margin-bottom: 20px;
  color: rgb(255, 123, 47);
  font-size: 1.2em;
}
