@import "src/styles/common_styles.scss";
@import "src/styles/definitions.scss";

.modalWindowOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.055);
  z-index: 1000;

  background: rgba($white, 0.66);
}

.modalWindow {
  z-index: 1000;
  position: fixed;
  min-width: 100px;
  min-height: 50px;
  border: 1px solid rgb(207, 207, 207);
  border-top: none;
  border: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  //-webkit-box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);
  //-moz-box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.75);

  @include popoverShadow;

  box-shadow: 0 0.5em 1.5em 0 rgba($black, 0.25);
  border: 1px solid $grey3;
  @include border-radius(4px);
}

.title {
  display: flex;
  flex-direction: row;
  position: relative;
  font-weight: 700;
  color: black;
  align-items: center;
  cursor: default;
  background: $grey2;
  height: 40px;
  font-size: $h1-fontsize;
  line-height: $h1-lineheight;
  padding: 0 0.65em 0 0.65em;
  @include border-radius(4px 4px 0 0);
}

.progressIndicator {
  @include progressIndicator;
  background-color: white;
  width: 100%;
}

.label {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
}

.labelText {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.buttons button {
  background: transparent;
  color: #000000;
  border: none;
  padding: 0px;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 10px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
}

.btnClose {
  padding: 5px;
  overflow: hidden;
  @include hoverItemAnimation;

  .btnIconContainer {
    padding: 5px;
    background: none;
    height: 40px;
    padding: 0;
    width: 40px;
    svg {
      @include hoverItemAnimation;
      background: none;
      height: 2em;
      stroke: $red;
      stroke-width: 1.5px;
      top: calc(20px - 1em);
      width: 2em;
    }
  }

  &:hover {
    color: white;
    background: none;
    svg {
      stroke: $black;
      stroke-width: 2px;
    }
  }
}

.btnClose :global(.icon) {
  position: relative;
  top: -1px;
}

.body {
  flex-grow: 1;
  /*padding: 10px;*/
}

.footer {
  min-height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid $grey2;
  padding: 1em;
}

.footer button {
  @include dialogButton;

  background: $blue;
  color: $white;
  border: 1px solid $blue;
  box-sizing: border-box;
  font-weight: 700;
  margin: 0 0.5em;
  min-width: 75px;
  padding: 0 1.5em;
  @include border-radius(3em);

  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    background: $grey2;
    color: $blue;
  }
}

.pusher {
  flex-grow: 1;
}
