@using IdentityServer4.Extensions
@using Microsoft.Extensions.Options
@using Origam.ServerCore.Configuration
@inject IOptions<IdentityGuiConfig> configOptions 
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityServer4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/css.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/views.css" />
</head>
<body>

    <div class="navigation-bar">
        <div class="logo-container">
            <img src="~/icons/origam.png"/>
        </div>
        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/icons/user.svg" class="svg"/>
                        @name
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                    </ul>
                </li>
            </ul>
        }
    </div>

<div class="page-content">
    @RenderBody()
</div>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/js/svg-load.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>
