@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.ServerCore.Resources
@model Origam.ServerCore.IdentityServerGui.Home.ErrorViewModel
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<h3 class="confirmation-text">
    @SharedLocalizer["UnknownError"]
</h3>
