/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.root {
  min-height: var(--mobileBottomToolbarHeight);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.isRed {
  fill: var(--error1);
}

// https://medium.com/swlh/styling-elements-based-on-number-of-siblings-1ca506351e68
/* one item */
.root ~ div:global(.bottomBarItem):first-child:nth-last-child(1) {
  /* -or- li:only-child { */
  width: 100%;
}/* two items */
.root div:global(.bottomBarItem):first-child:nth-last-child(2),
.root div:global(.bottomBarItem):first-child:nth-last-child(2) ~ div:global(.bottomBarItem) {
  width: 50%;
}/* three items */
.root div:global(.bottomBarItem):first-child:nth-last-child(3),
.root div:global(.bottomBarItem):first-child:nth-last-child(3) ~ div:global(.bottomBarItem) {
  width: 33.3333%;
}/* four items */
.root div:global(.bottomBarItem):first-child:nth-last-child(4),
.root div:global(.bottomBarItem):first-child:nth-last-child(4) ~ div:global(.bottomBarItem) {
  width: 25%;
}