/*.root {
  flex-grow: 1;
  display: none;
  &:global(.isActive) {
    display: block;
  }
}*/

.root {
  flex-grow: 1;
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //display: none;
  display: flex;
  flex-direction: column;
  transform: translate(-0.01%, -0.01%);
  max-width: 0px;
  &:global(.isActive) {
    //display: flex;
    transform: unset;
    max-width: unset;
  }
}
