@import "src/styles/common_styles.scss";

.root {
  color: #3e3d45;
  height: 30px;
  margin: 0 2em 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
  @include hoverItemAnimation;

  &:global(.isActive) {
    .label {
      color: #4c84ff;
      border-bottom: 2px solid #4c84ff;
      font-weight: 700;
    }
  }

  &:global(.isDirty) {
    .label {
      color: #fe5461;
    }
  }

  &:not(:global(.isActive)):hover {
    color: #0d0d0d;
    cursor: pointer;
    .closeBtn {
      svg {
        stroke: #0d0d0d;
      }
    }
  }


}

.label {
  border-bottom: 2px solid transparent;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.closeBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  svg {
    margin: 0 0 0 0.5em;
    width: 1.1em;
    height: 1.1em;
    stroke: #77767e;
    stroke-width: 1;
    overflow: inherit;
    @include hoverItemAnimation;
  }
  &:hover {
    svg {
      stroke: #fe5461 !important;
      stroke-width: 2.5;
    }
  }
}
