<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline" />
      </layout>
      <!--filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Origam.DA.Service.FileChangeChecker" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" /-->
    </appender>
    <appender name="WorkflowConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="RuleConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Rule: %message%newline" />
      </layout>
    </appender>
    <appender name="WorkflowProfilingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./origam-WorkflowProfiling.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
        <!--conversionPattern value="%date %logger - %message%newline" /-->
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <!--appender-ref ref="WorkflowProfilingFileAppender" /-->
    </root>
    <logger name="Origam.Workbench.Services" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="WorkflowConsoleAppender" />
    </logger>
    <logger name="Origam.Workflow" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="WorkflowConsoleAppender" />
      <!--appender-ref ref="WorkflowProfilingFileAppender" /-->
    </logger>
    <logger name="WorkflowProfiling" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="WorkflowProfilingFileAppender" />
    </logger>
    <logger name="Origam.Rule" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="RuleConsoleAppender" />
    </logger>
    <logger name="Origam.Gui.Designer" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          name="System.Buffers"
          publicKeyToken="cc7b13ffcd2ddd51"
          culture="neutral"
        />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          name="System.Collections.Immutable"
          publicKeyToken="b03f5f7f11d50a3a"
          culture="neutral"
        />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          name="System.Memory"
          publicKeyToken="cc7b13ffcd2ddd51"
          culture="neutral"
        />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
