<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ArrayOfOrigamSettings
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    >
      <OrigamSettings>
        <SchemaConnectionString>Data Source=.;Initial Catalog=test7_model;Integrated Security=True;User ID=;Password=;Pooling=True</SchemaConnectionString>
        <ModelSourceControlLocation>C:\Temp</ModelSourceControlLocation>
        <DataConnectionString>Data Source=.;Initial Catalog=test7_data;Integrated Security=True;User ID=;Password=;Pooling=True</DataConnectionString>
        <ModelProvider>Origam.OrigamEngine.DatabasePersistenceBuilder, Origam.OrigamEngine</ModelProvider>
        <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
        <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
        <SecurityDomain />
        <ReportConnectionString />
        <PrintItServiceUrl />
        <SQLReportServiceUrl />
        <SQLReportServiceAccount />
        <SQLReportServicePassword />
        <DefaultSchemaExtensionId>3e37fa44-cdb7-4804-8176-8df118a918ae</DefaultSchemaExtensionId>
        <ExtraSchemaExtensionId>00000000-0000-0000-0000-000000000000</ExtraSchemaExtensionId>
        <TitleText>Data for Xml serialization Test</TitleText>
        <Slogan />
        <Name>Data for Xml serialization Test</Name>
        <LocalizationFolder />
        <TranslationBuilderLanguages />
        <HelpUrl>http://origam.com/doc</HelpUrl>
      </OrigamSettings>
      <OrigamSettings>
        <SchemaConnectionString>Data Source=.;Initial Catalog=test7_model;Integrated Security=True;User ID=;Password=;Pooling=True</SchemaConnectionString>
        <ModelSourceControlLocation>C:\Temp</ModelSourceControlLocation>
        <DataConnectionString>Data Source=.;Initial Catalog=test7_data;Integrated Security=True;User ID=;Password=;Pooling=True</DataConnectionString>
        <ModelProvider>Origam.OrigamEngine.FilePersistenceBuilder, Origam.OrigamEngine</ModelProvider>
        <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
        <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
        <SecurityDomain />
        <ReportConnectionString />
        <PrintItServiceUrl />
        <SQLReportServiceUrl />
        <SQLReportServiceAccount />
        <SQLReportServicePassword />
        <DefaultSchemaExtensionId>3e37fa44-cdb7-4804-8176-8df118a918ae</DefaultSchemaExtensionId>
        <ExtraSchemaExtensionId>00000000-0000-0000-0000-000000000000</ExtraSchemaExtensionId>
        <TitleText>Xml Serialized test</TitleText>
        <Slogan />
        <Name>Xml Serialized test</Name>
        <LocalizationFolder />
        <TranslationBuilderLanguages />
        <HelpUrl>http://origam.com/doc</HelpUrl>
      </OrigamSettings>
    </ArrayOfOrigamSettings>
  </xmlSerializerSection>
</OrigamSettings>
