@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@using IdentityServer4.Extensions
@using Microsoft.Extensions.Options
@using Origam
@using Origam.Server
@using Origam.Server.Configuration
@inject IOptions<CustomAssetsConfig> ConfigOptions;
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
    CustomAssetsConfig config = ConfigOptions.Value;
    var logoUrl = string.IsNullOrWhiteSpace(config.IdentityGuiLogoUrl) 
        ? "/assets/identity/icons/origam.png" 
        : config.IdentityGuiLogoUrl;

    OrigamSettings settings = ConfigurationManager.GetActiveConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@string.Format(SharedLocalizer.GetString("IdentityServerTitle"), settings.TitleText )</title>
    <link rel="stylesheet" href="~/assets/identity/css/css.css?version=0.0.0.0" />
    <link rel="stylesheet" href="~/assets/identity/css/main.css?version=0.0.0.0" />
    <link rel="stylesheet" href="~/assets/identity/css/login.css?version=0.0.0.0" />
</head>
<body>

<div id="page-container" class="page-content">
        <div class="logo-container centered">
            <img class="logo" src=@logoUrl />
        </div>
    @RenderBody()
</div>

<script src="~/assets/identity/js/form-sumbit.js?version=0.0.0.0"></script>
<script src="~/assets/identity/js/custom.js?version=0.0.0.0"></script>
@RenderSection("scripts", required: false)
</body>
</html>
