@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@model Origam.Server.IdentityServerGui.Home.ErrorViewModel
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<h3 class="confirmation-text">
    @SharedLocalizer["UnknownError"]
</h3>
@if (error != null)
{
    <strong>
        <em>
            @error
        </em>
    </strong>

    if (errorDescription != null)
    {
        <div>@errorDescription</div>
    }
}
@if (request_id != null)
{
    <div class="request-id">Request Id: @request_id</div>
}
