/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.columnTable {
  width: 470px;
  height: 400px;
  margin-bottom: 20px;
}

.lockedColumns {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.lockedColumnsInput {
  width: 38px;
  margin-left: 10px;
}

.columnTableCell {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.columnTableCell:global(.header) {
  font-weight: bold;
  /*border-right: 1px solid #f6f6f6;*/
}

.columnTableCell:global(.odd) {
  background-color: #f6f6f6;
}

.columnTableCell:global(.even) {
  background-color: #fefefe;
}

.columnWidthHandle {
  position: absolute;
  width: 3px;
  height: 100%;
  cursor: w-resize;
  right: 0;
  background-color: #f6f6f6;
}

.columnWidthHandle:hover {
  background-color: #8998c5;
}
