.root {
  width: 500px;
}

.icon {
  width: 18px;
  margin: 8px;
}

.inputRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #B0AFB7;
}

.input {
  height: 28px;
  border: none;
  font-size: 16px;
  flex-grow: 1;
}

.resultGroupRow {
  padding-left: 15px;
  font-weight: bold;
  height: 28px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  background-color: #F7F6FB;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.arrow{
  font-size: 20px;
  color: black;
}

.resultArea{
  overflow-x: auto;
  overflow-y: auto;
  height: 35vh;
}

.groupName{
  margin-left: 10px;
}

.resultIemRow {
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: 28px;
}

.resultIemRow:hover {
  background-color: #CFDFFF;
  cursor: pointer;
}

.itemIcon{
  width: 20px;
  height: 20px;
}

.itemTitle{
  margin-left: 10px;
}

.itemText{

}

.itemTextSeparator{
  white-space: pre-wrap;
}

.itemContents{
  display: flex;
  align-items: center;
}