/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

@import "src/styles/definitions.scss";

.root {
  width: 500px;
}

.icon {
  width: 18px;
  margin: 8px;
}

.inputRow {
  display: flex;
  align-items: center;
}

.input {
  height: 28px;
  border: none;
  font-size: 16px;
  flex-grow: 1;
}

.resultsContainer{
  float: left;
  min-width: 500px;
}


.resultGroupRow {
  padding-left: 15px;
  font-weight: bold;
  height: 28px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--white);
  background-color: var(--color20);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.arrow{
  font-size: 20px;
  color:var(--black);
}

.resultArea{
  border-top: 1px solid var(--grey3);
  overflow-x: auto;
  overflow-y: auto;
  max-height: 35vh;
}

.groupName{
  margin-left: 10px;
}

.resultIemRow {
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: 28px;
}

.resultIemRowSelected{
  background-color: var(--blue);
  color:var(--white) !important;
}
.resultIemRowSelected div svg{
  stroke:var(--white);
  stroke-width: 1.5;
}

.resultIemRowHovered {
  cursor: pointer;
  background-color: var(--color14);
  color:var(--black) !important;
}

.itemIcon{
  min-width: 20px;
  max-width: 20px;
  height: 20px;
}

.itemTitle {
  font-weight: bold;
  margin-left: 10px;
}

.itemText{

}

.itemTextSeparator{
  white-space: pre-wrap;
}

.itemContents{
  white-space: nowrap;
  display: flex;
  align-items: center;
}