<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <!-- UI (Flash Portal) configuration. -->
    <section name="appPortalSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <!-- Application logging configuration. -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- Enterprise application configuration and security configuration.  -->
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration"/>
    <!-- Amazon Simple Storage Service configuration. Amazon S3 could be used as an attachment handler. -->
    <!--
    <section name="S3Settings" type="Origam.services.S3Settings, Origam.services"/>
    -->
    <!-- Internal handlers configuration - select providers of internal tasks ( ) -->
    <section name="InternalHandlers" type="Origam.services.InternalHandlers, Origam.services"/>
    <!-- -->
    <section name="languageSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="problemReportingSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="geoLocationSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <languageSettings file="language.config"/>
  <appPortalSettings file="portal.config"/>
  <problemReportingSettings file="problemReporting.config"/>
  <geoLocationSettings file="geoLocation.config"/>
  <!-- Attachment handler configuration -->
  <InternalHandlers AttachmentHandler="Origam.services.AttachmentSQLDbHandler"/>
  <!-- Amazon S3 attachment storage settings -->
  <!--
  <S3Settings AWSAccessKey="???" AWSSecretKey="???" BucketName="???" Timeout="600000" UrlExpiration="60000"/>
  -->
  <enterpriselibrary.configurationSettings applicationName="Application" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection name="OrigamSettings" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="OrigamSettings.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes/>
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="securityConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="securityConfiguration.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes/>
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true"/>
    <includeTypes/>
  </enterpriselibrary.configurationSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:/inetpub/wwwroot/origam/logs/logfile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%identity&gt; - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="mailFrom" value="origam@mycompany.com"/>
    <add key="RecoverPasswordMail_Subject" value="Password Reset"/>
    <add key="RecoverPasswordMail_BodyFileName" value="recover.txt"/>
    <add key="portalTitle" value="ORIGAM"/>
    <add key="injectDomain" value=""/>
    <add key="supportsPasswordRecovery" value="false"/>
    <add key="aboutLogoUrl" value="https://www.origam.com"/>
    <add key="bottomLogoUrl" value="https://www.origam.com"/>
    <add key="webPages:Version" value="2.0.0.0"/>
    <add key="autoFormsAuthentication" value="false"/>
    <add key="enableSimpleMembership" value="false"/>
    <add key="noAccessUrl" value="/NoAccess.cshtml"/>
  </appSettings>
  <system.net>
    <!-- SMTP Settings -->
    <mailSettings>
      <smtp from="admin@simplicor.com">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="600"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <roleManager enabled="true"/>
    <!-- Windows Authentication -->
    <authentication mode="Windows"/>
    <!-- Forms Authentication -->
    <!--
    <authentication mode="Forms">
      <forms loginUrl="/login.aspx" name="origamAuthCookie" timeout="10"/>
    </authentication>
    -->
    <membership defaultProvider="sqlMembershipProvider">
      <providers>
        <clear/>
        <add name="sqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" applicationName="ORIGAM"/>
      </providers>
    </membership>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <!-- Supported languages: en-US, cs-CZ, de-DE, de-CH 
         culture: defines date and number format
         uiCulture: defines GUI language and message translations
    -->
    <globalization culture="en-US" enableClientBasedCulture="true" uiCulture="en-US"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login2">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ConfirmEmail">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AjaxLogin.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Recover">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="assets">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadAttachment.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadBlob.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Gateway.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Search.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules>
      <add name="OrigamPagesModule" type="Origam.services.pages.OrigamPagesModule, Origam.services"/>
      <add name="FluorineGateway" type="FluorineFx.FluorineGateway, FluorineFx"/>
    </modules>
    <handlers>
      <add verb="*" path="Gateway.aspx" type="Origam.Server.Handlers.GatewayHandler, Origam.Server.Handlers" name="GatewayHandler"/>
      <add verb="*" path="SignOut.ashx" type="Origam.Server.Handlers.SignOutHandler, Origam.Server.Handlers" name="SignOutHandler"/>
      <add verb="*" path="ReportProblem.ashx" type="Origam.Server.Handlers.ReportProblemHandler, Origam.Server.Handlers" name="ReportProblemHandler"/>
      <add verb="*" path="GeoLocation.ashx" type="Origam.Server.Handlers.GeoLocationHandler, Origam.Server.Handlers" name="GeoLocationHandler"/>
      <add verb="*" path="AjaxLogin.ashx" type="Origam.Server.Handlers.AjaxLoginHandler, Origam.Server.Handlers" name="AjaxLoginHandler"/>
      <add verb="*" path="AjaxSignOut.ashx" type="Origam.Server.Handlers.AjaxSignOutHandler, Origam.Server.Handlers" name="AjaxSignOutHandler"/>
      <add verb="*" path="ExternalSignOut.ashx" type="Origam.Server.Handlers.ExternalSignOutHandler, Origam.Server.Handlers" name="ExternalSignOutHandler"/>
      <add verb="*" path="Search.aspx" type="Origam.services.search.SearchResultHandler, Origam.services" name="SearchResultHandler"/>
      <add verb="*" path="ReportViewer.aspx" type="Origam.services.ReportViewerHandler, Origam.services" name="ReportViewerHandler"/>
      <add verb="*" path="Attachment.aspx" type="Origam.services.AttachmentDownloadHandler, Origam.services" name="AttachmentDownloadHandler"/>
      <add verb="*" path="UploadAttachment.aspx" type="Origam.services.AttachmentUploadHandler, Origam.services" name="AttachmentUploadHandler"/>
      <add verb="*" path="Export.aspx" type="Origam.services.EntityExportDownloadHandler, Origam.services" name="ExportHandler"/>
      <add verb="*" path="UploadBlob.aspx" type="Origam.services.BlobUploadHandler, Origam.services" name="BlobUploadHandler"/>
      <add verb="*" path="DownloadBlob.aspx" type="Origam.services.BlobDownloadHandler, Origam.services" name="BlobDownloadHandler"/>
      <add verb="*" path="doc.aspx" type="Origam.services.doc.DocHandler, Origam.services" name="DocHandler"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="Portal.cshtml"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>