/*
Copyright 2005 - 2021 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

@import "src/styles/definitions.scss";

.table {
  :global(.cell) {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    //border-top: 1px solid var(--color9);
    overflow: hidden;
   white-space: nowrap;
    &:global(.ord1) {
      background-color: var(--grey1);
    }
    &:global(.ord2) {
      background-color: var(--white);
    }
    &:global(.header) {
      background-color: var(--grey1);
      //justify-content: center;
      font-weight: bold;
    }
    &:global(.withCursor) {
      background-color: var(--blue);
      color:var(--white) !important;
    }
    &:global(.selected) {
      font-weight: bold;
      color: var(--blue);
    }
  }

  :global(.isHoveredRow) :global(.cell) {
    background-color: var(--color14);
    color:var(--black) !important;
  }

  :global(.resizeHandle) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background-color: var(--color3);
  }
}

.input {
  &:global(.isLink) {
    color: var(--blue) !important;
    cursor: pointer !important;
  }
}
