/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.packageName {
  font-weight: bold;
  padding: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.treeNode {
  margin-left: 20px;
}

.treeNodeTitle {
  height: 20px;
  display: flex;
  cursor: pointer;
}

.iconAndText {
  display: flex;
  align-items: center;
  gap: 4px;
  text-wrap-mode: nowrap;
}

.currentVersion {
  font-weight: bold;
}

.symbol {
  width: 20px;
  font-size: 12px;
}

.icon {
  width: 20px;
  height: 18px;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
