* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  position: relative;
  margin: 0;
  padding: 0;
}

#form-field-portal {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@import "./style/data-view-toolbar.scss";
@import "./style/table.scss";
@import "./style/data-view.scss";
@import "./style/splitter.scss";
@import "./style/scrollee.scss";
@import "./style/modal-window.scss";
@import "./style/badge-select.scss";
@import "./style/form-view.scss";
@import "./style/editors.scss";
@import "./style/screen.scss";
@import "./style/tabs.scss";