<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.14.2825.20394, Culture=neutral, PublicKeyToken=null">
    <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    </ArrayOfOrigamSettings>
  </xmlSerializerSection>
</OrigamSettings>