<!-- Placeholders:
  {origam:mailFrom} - e-mail address from which notification e-mails will be sent
  {origam:mailTo} - e-mail address to which problem reports will be sent
-->
<problemReportingSettings>
  <add key="fromMail" value="{origam:mailFrom}"/>
  <add key="toMail" value="{origam:mailTo}"/>
</problemReportingSettings>