<?xml version="1.0" encoding="utf-8"?>
<securityConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.securitySettings
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      defaultAuthorizationInstance="database"
      defaultAuthenticationInstance=""
      defaultRolesInstance="Active Directory Provider"
      defaultProfileInstance="OrigamProfileProvider"
      defaultSecurityCacheInstance=""
      xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security"
    >
      <rolesProviders />
      <authorizationProviders>
        <authorizationProvider
          xsi:type="CustomAuthorizationProviderData"
          name="windows"
          type="Origam.Security.WindowsGroupsAuthorizationProvider, Origam.Security"
        >
          <extensions />
        </authorizationProvider>
        <authorizationProvider
          xsi:type="CustomAuthorizationProviderData"
          name="database"
          type="Origam.Security.OrigamDatabaseAuthorizationProvider, Origam.Security"
        >
          <extensions />
        </authorizationProvider>
      </authorizationProviders>
      <authenticationProviders />
      <profileProviders>
        <profileProvider
          xsi:type="CustomProfileProviderData"
          name="OrigamProfileProvider"
          type="Origam.Security.OrigamProfileProvider, Origam.Security"
        >
          <extensions />
        </profileProvider>
      </profileProviders>
      <securityCacheProviders />
    </enterpriseLibrary.securitySettings>
  </xmlSerializerSection>
</securityConfiguration>
