/*
Copyright 2005 - 2026 Advantage Solutions, s. r. o. 

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.root {
  flex: 1;

  .category {
    max-width: 650px;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    overflow: hidden;

    h4 {
      color: var(--brand);
      padding: 0.25rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid var(--brand);
    }

    .property {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      color: #000;

      &:hover {
        background-color: var(--background2);
      }

      .propertyName {
        margin-right: 1rem;
      }

      .errorProperty {
        color: red;
      }

      input,
      select {
        width: 200px;
        &:disabled {
          background-color: var(--background3);
          cursor: not-allowed;
        }
      }

      .selectWrapper {
        position: relative;
        width: 200px;
        display: inline-block;
      }

      select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-right: 24px;
        width: 100%;
      }

      .selectIcon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        font-size: 16px;
        color: #000000;
      }

      .checkbox {
        margin: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        min-width: 25px;
        max-width: 25px;
        padding: 0;
        cursor: pointer;
        position: relative;

        &:checked {
          background-color: var(--foreground1);
          border-color: var(--foreground1);

          &::after {
            content: '\2714';
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--background1);
          }
        }

        &:disabled {
          background-color: var(--background3);
          border-color: var(--background4);
        }
      }

      .checkboxContainer {
        width: 200px;
        display: flex;
      }
    }
  }
}

.compact {
  div.category {
    margin: 0;
    max-width: unset;
    h4 {
      display: none;
    }
    .property {
      justify-content: flex-start;
      .propertyName {
        width: 17rem;
      }
    }
    .property {
      margin: 0;
      input {
        width: 25rem;
      }
    }
  }
}
