/*
Copyright 2005 - 2025 Advantage Solutions, s. r. o. 

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*/

.root {
  flex: 1;

  .category {
    max-width: 650px;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    overflow: hidden;

    h4 {
      color: var(--brand);
      padding: 0.25rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid var(--brand);
    }

    .property {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      color: #000;

      &:hover {
        background-color: var(--background2);
      }

      .propertyName {
        margin-right: 1rem;
      }

      .errorProperty {
        color: red;
      }

      input,
      select {
        width: 200px;
        &:disabled {
          background-color: var(--background3);
          cursor: not-allowed;
        }
      }

      select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: right 8px top 50%;
        background-size: 12px auto;
        padding-right: 24px;
      }

      .checkbox {
        margin: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        min-width: 25px;
        max-width: 25px;
        padding: 0;
        cursor: pointer;
        position: relative;

        &:checked {
          background-color: var(--foreground1);
          border-color: var(--foreground1);

          &::after {
            content: '\2714';
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--background1);
          }
        }

        &:disabled {
          background-color: var(--background3);
          border-color: var(--background4);
        }
      }

      .checkboxContainer {
        width: 200px;
        display: flex;
      }
    }
  }
}
