@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@model Origam.Server.IdentityServerGui.Account.TwoStepModel
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<div class="detailview-container">
    <div class="detailview-module with-title">
        <h2>@SharedLocalizer["TwoFactorAuthentication"]</h2>
        <div class="input-form">
            <form asp-route="Login">
                <input type="hidden" asp-for="ReturnUrl" value=@ViewData["ReturnUrl"]/>
                <label>@SharedLocalizer["EnterAuthenticationCode"]</label>
                <div class="input-row">
                    <input id="userNameInput" asp-for="TwoFactorCode" autofocus>
                </div>
                <div class="input-row">
                    <a id="loginButton" class="btn normal-size primary submit-link" value="login" href=#>@SharedLocalizer["Login"]</a>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_ValidationSummary"/>