@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
 
<h3 class="confirmation-text">
    @SharedLocalizer["ResetPasswordConfirmation1"]<a class="in-page-link" asp-controller="Account" asp-action="Login">@SharedLocalizer["ResetPasswordConfirmation2"]</a>@SharedLocalizer["ResetPasswordConfirmation3"]
</h3>
