@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.Server.IdentityServerGui.Account.ResetPasswordConfirmationViewModel
 
<h3 class="confirmation-text">
    @SharedLocalizer["ResetPasswordConfirmation1"]<a class="in-page-link" href="@Model.ReturnUrl">@SharedLocalizer["ResetPasswordConfirmation2"]</a>@SharedLocalizer["ResetPasswordConfirmation3"]
</h3>
