<?xml version="1.0" encoding="utf-8"?>
<OrigamSettings>
  <xmlSerializerSection type="Origam.OrigamSettingsCollection, Origam, Version=1.4.2544.18802, Culture=neutral, PublicKeyToken=null">
    <ArrayOfOrigamSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <OrigamSettings>
        <SchemaConnectionString>Server=.;database=origam_demo_model;Integrated Security=SSPI;</SchemaConnectionString>
        <DataConnectionString>Server=.;database=origam_demo_data;Integrated Security=SSPI;</DataConnectionString>
        <SchemaDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</SchemaDataService>
        <DataDataService>Origam.DA.Service.MsSqlDataService, Origam.DA.Service</DataDataService>
        <SecurityDomain>??</SecurityDomain>
        <DefaultSchemaExtensionId>756a579c-57a2-4590-bc09-683f8a4eece4</DefaultSchemaExtensionId>
        <TitleText>ORIGAM DEMO</TitleText>
        <Name>ORIGAM DEMO</Name>
        <DataServiceSelectTimeout>70</DataServiceSelectTimeout>
        <AuthorizationProvider>Origam.Security.OrigamDatabaseAuthorizationProvider, Origam.Security</AuthorizationProvider>
        <ProfileProvider>Origam.Security.OrigamProfileProvider, Origam.Security</ProfileProvider>
      </OrigamSettings>
    </ArrayOfOrigamSettings>
  </xmlSerializerSection>
</OrigamSettings>